[2021-03-19 22:26] stockholmux opened #11 "Fix `bundle build` in README"

[2021-03-19 22:28] stockholmux opened #12 "Disambiguation - change wikipedia to Wikipedia"

[2021-03-19 22:29] stockholmux opened #13 "README credit link points to the wrong repo."

[2021-03-19 22:30] stockholmux opened #14 "harmonize CODE_OF_CONDUCT.md with OpenSearch"

[2021-03-19 22:54] #14 closed, assigned to nobody

[2021-03-19 22:54] #13 closed, assigned to nobody

[2021-03-19 22:56] #12 closed, assigned to nobody

[2021-03-19 23:06] #11 closed, assigned to nobody

[2021-04-05 15:03] dblock opened #21 "Needs a favicon"
[code]

Will need favicon asset(s).

[2021-04-14 22:49] dblock opened #29 "Verify organization domain"
Let's get a verified icon like other AWS organizations for https://opensearch.org?

https://docs.github.com/en/organizations/managing-organization-settings/verifying-your-organizations-domain

![verified](https://user-images.githubusercontent.com/542335/114790057-0e6f8200-9d52-11eb-9ef6-40932c2e09ee.gif)

[2021-04-14 23:01] stockholmux commented on #29
Love it. I believe this might be slightly complicated due to the indirect management of the organization but do-able.

[2021-04-14 23:02] stockholmux commented on #29
@peterzhuamazon Do you anticipate any blockers on the TXT record?

[2021-04-19 18:46] stockholmux opened #31 "FAQ feature"
We should have a place for frequently asked questions. Ideally this would be based off of a [Jekyll collection](https://jekyllrb.com/docs/collections/) to allow for quick/easy edits with each question being a single file.

A counter example is the the [Open Distro website](https://opendistro.github.io/for-elasticsearch/faq.html) which has a FAQ driven by [Jekyll data file](https://jekyllrb.com/doc

[2021-04-19 18:59] stockholmux opened #32 "CSS/scss colour normalization"
This site was forked from the Django project website which uses a green colour oriented pallet and this site uses (currently) blue tones.

Hard coded in the scss files are colour value variables (e.g. `$green-dark-text`) that don't match the current colours. The pallet may shift as OpenSearch branding evolves.

It would be best to convert these variable names into names that are not tied to a part

[2021-04-19 19:02] stockholmux opened #33 "Partners page"
We should implement a partners page. Ideally this would be based off of a [Jekyll collection](https://jekyllrb.com/docs/collections/) to allow for quick/easy edits with each partner being a single file.

[2021-04-20 19:56] #33 closed

[2021-05-04 22:02] dblock opened #44 "Rename repo to opensearch.org?"
Project-website is difficult to find for humans that probably expect to find opensearch.org.

[2021-05-07 13:56] dblock opened #57 "Make main = staging and create a release branch."
Match branching and releasing of OpenSearch.

* main is where all PRs and commits go, making it easy for everyone to contribute since it's the default branch
* main automatically deploys to a staging area
* a production branch (called opensearch.org for example) automatically deploys to opensearch.org
* merge to opensearch.org to deploy! (hands off)

<strike>I can't find anything about staging, ot

[2021-05-11 14:51] stockholmux commented on #57
@dblock We have a public but not circulated URL to review staged changes. We don't have the automation finalized so I haven't documented it.

Good point about the differential robots.txt  and some of the other points mentioned in your article. We'll need to patch the staging site.

[2021-05-11 14:53] stockholmux commented on #44
I'm not opposed to this although I'll need to understand the impact on the Jekins scripts that drive the deployment.

[2021-05-11 15:01] #31 closed

[2021-05-11 15:40] dblock commented on #57
Add a password to staging or add a robots.txt to it ASAP. Google is going to find that link accidentally and mark the content duplicate, and it will take a long time for opensearch.org to dig itself out of that.

[2021-05-11 15:40] dblock commented on #44
Old git paths should work as before.

[2021-05-24 17:27] dblock opened #81 "Publish branding"
We need branding, logos, etc., that are easy to find.

[2021-05-24 17:29] kgcreative commented on #81
ack - working with @stockholmux on this.

[2021-05-26 14:03] dblock opened #91 "The announcements on top of the page are not clickable"
I really, really want to click this beta 1 available banner and get to the downloads page.

<img width="492" alt="Screen Shot 2021-05-26 at 10 03 09 AM" src="https://user-images.githubusercontent.com/542335/119673759-9e045800-be09-11eb-912f-f994200647a8.png">

[2021-05-26 16:13] dblock commented on #57
Updated per https://github.com/opensearch-project/project-website/pull/79#issuecomment-848906358

[2021-05-26 17:12] stockholmux commented on #81
Fixed by #87

[2021-05-26 17:12] #81 closed

[2021-05-26 17:18] stockholmux commented on #32
Fixed by #76

[2021-05-26 17:18] #32 closed

[2021-05-28 01:25] kgcreative commented on #91
+1

[2021-05-28 21:09] stockholmux commented on #91
Fixed in #100

[2021-05-28 21:09] #91 closed

[2021-05-28 22:06] peterzhuamazon opened #101 "Header buttons does not work if you clicked it once already"
I want to report a bug, the news button on top right will not work if you are already in a news article.

Example: it does not work anymore in here: https://opensearch.org/blog/meetings/2021/05/community-meeting/

You have to click something else then the news button is working again

similar behavior on all the button in the header.

I am not sure if this is intended or not, seems like the button

[2021-05-28 22:07] peterzhuamazon commented on #101
![Clickable, see bottom left shows the hyperlink](https://user-images.githubusercontent.com/65193828/120046136-867ec800-bfdf-11eb-9532-5a3378f48a56.png)

[2021-05-28 22:08] peterzhuamazon commented on #101
![Non-clickable, see bottom left without any hyperlink](https://user-images.githubusercontent.com/65193828/120046206-b1691c00-bfdf-11eb-85b3-f95709adcccb.png)

Non-clickable, see bottom left without any hyperlink

[2021-05-29 00:47] peterzhuamazon commented on #101
Likely Related here: https://github.com/opensearch-project/project-website/blob/44db3c93ac5d3105463ae1d0438efbd1eccac8f3/_includes/header.html#L31

[2021-05-31 15:35] stockholmux commented on #21
Fixed by #92

[2021-05-31 15:35] #21 closed

[2021-06-02 14:10] #101 closed

[2021-06-03 14:42] stockholmux opened #107 "Add bio for dblock"
#103 included a blog post but lacks a bio for the author (@dblock).

[2021-06-03 18:55] dblock opened #112 "Add social links to bios"
I was looking for @AmiStrn's Twitter link so I could thank him for an excellent blog post.

[2021-06-03 20:35] stockholmux commented on #107
Fixed by #111

[2021-06-03 20:35] #107 closed

[2021-06-03 21:06] dblock opened #113 "Add a description and location to opensearch-project"
Add a description to opensearch-project org, compare:

<img width="383" alt="Screen Shot 2021-06-03 at 5 05 11 PM" src="https://user-images.githubusercontent.com/542335/120711867-e23ccb80-c48d-11eb-9f36-8d094fa66543.png">

<img width="401" alt="Screen Shot 2021-06-03 at 5 04 59 PM" src="https://user-images.githubusercontent.com/542335/120711872-e49f2580-c48d-11eb-95e7-111b6f1d122e.png">

I propose

[2021-06-04 16:14] stockholmux commented on #113
@dblock This is a org wide change, right?

(P.S. I'd make it Palo Alto, but it's debatable!)

[2021-06-04 16:50] dblock commented on #113
Correct. I don't know which repo to put an issue for the org, so I picked the most public one ;)

[2021-06-07 17:58] dblock opened #120 "publish opensearch-backwards-compatibility-faq.markdown"
Let's not forget to publish https://github.com/opensearch-project/project-website/blob/main/_posts/_2021-06-04-opensearch-backwards-compatibility-faq.markdown

[2021-06-09 09:36] joschi opened #126 "Expose ATOM/RSS news feed"
When building the current `main` branch (0d75a12bd919996f3c00a2709af60b6f26d328c0), the `jekyll-feed` plugin is being included and generated a feed for posts:

<details>
<summary>Build output</summary>

[code]
</details>

The local feed can be accessed via `feed.xml`:
[code]

On the https://opensearch.org website, the feed doesn't seem to exist:
[code]

[2021-06-09 13:40] stockholmux commented on #126
Thanks @joschi . Looks like we had a bad deployment last night and a bunch of URLs are 404ing. I think this is one of them.

I'm waiting for the infrastructure team to investigate when they come online (US Pacific time).

[2021-06-09 14:18] dblock opened #128 "Setup alarms for website availability"
Setup alarms and escalation to avoid incidents like https://github.com/opensearch-project/project-website/issues/126#issuecomment-857703555.

[2021-06-09 14:30] stockholmux commented on #126
Looks like the XML feed is back up!

[2021-06-09 14:30] #126 closed

[2021-06-09 20:59] stockholmux commented on #120
Fixed by #129

[2021-06-09 20:59] #120 closed

[2021-06-09 21:00] stockholmux commented on #112
Pushed to production in #129

[2021-06-09 21:00] #112 closed

[2021-06-10 07:07] joschi commented on #126
@stockholmux Yes, it's there again. Thanks for fixing it!

It would be great if it was part of the page metadata as well so that feed readers can discover the feed:
https://github.com/jekyll/jekyll-feed/tree/v0.15.1#meta-tags

[2021-06-10 13:40] stockholmux commented on #126
@joschi good idea.

I'll create an issue.

[2021-06-10 13:42] stockholmux opened #130 "Add feed meta tags to head of website"
via #126

[2021-06-10 21:15] stockholmux opened #132 "Add OpenGraph to head of website"
Add [opengraph meta tags](https://ogp.me/) to enable previews on various website.

[2021-06-14 21:23] #130 closed

[2021-06-22 18:29] frotsch opened #143 "Add version matrix"
https://discuss.opendistrocommunity.dev/t/minimum-runtime-environment-for-os-ga/6307/2?u=frotsch

[2021-06-22 19:06] dblock commented on #143
Let's put this in the docs, too, https://github.com/opensearch-project/documentation-website/issues/59

[2021-06-24 15:01] dblock opened #146 "Level up README and related markdown content"
Level up and cleanup markdown content.

See [.github#8](https://github.com/opensearch-project/.github/issues/8) for details and recommendations, and [common-utils](https://github.com/opensearch-project/common-utils/) for an example.

- [ ] README.md
- [ ] CONTRIBUTING.md
- [ ] DEVELOPER_GUIDE.md
- [ ] MAINTAINERS.md
- [ ] ADMINS.md
- [ ] SECURITY.md
- [ ] RELEASING.md
- [ ] TESTING.md
- [ ] other

[2021-06-25 13:54] stockholmux opened #147 "Downloads page needs redesign and rearchitecting"
Currently, the downloads page is pretty static - it is a template + front matters. That's been fine for Alpha/Beta/RC1, but as we move towards GA and beyond we'll be many more artifacts and we'll need to coordinate versions.

In order to be more repeatable, the current thinking is be driven by Jekyll collections rather than template + front matters.

- Releases/versions are a collection
- Artifact

[2021-07-03 08:11] kavilla opened #161 "Upgrade FAQ to include renaming of kibana.yml to opensearch_dashboards.yml"
Update the FAQ for upgrading to OpenSearch to include migrating their config name from kibana.yml --> opensearch_dashboards.yml [[potentially here](https://opensearch.org/faq/#q3.1)].

For OpenSearch Dashboards, we went through a renaming strategy that replaced kibana.yml to [opensearch_dashboards.yml](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/config/opensearch_dashboar

[2021-07-06 16:17] dblock commented on #161
We really want to have docs for this and avoid duplicating content. How about pointing that FAQ to the said docs? @aetter where would that be?

[2021-07-07 16:21] tmarkley commented on #161
@kavilla do we have a list of the configurations that have been deprecated, and are we documenting that explicitly?

I think we should have this ready for v1.0.0. Does the Dashboards team need to add these details to our release notes (this can be a link to avoid duplication) as well as the website?

[2021-07-07 16:39] #132 closed

[2021-07-07 19:41] stockholmux commented on #161
My 2 cents here: Keep the FAQ high level - if we need to throw a link to the documentation for nitty-gritty then we can do that.

[2021-07-07 20:44] tmarkley commented on #161
@stockholmux I think that makes sense. We discussed creating an `UPGRADING.md` file in the Dashboards repo that we could link to from the FAQ, release notes, etc. Are there better alternatives anyone else was considering?

[2021-07-07 21:57] aetter commented on #161
Best option is in this section: https://docs-beta.opensearch.org/upgrade-to/, which will likely be https://opensearch.org/docs/upgrade-to/ post-launch.

I'll add a page and tag everyone here for review. Do we have a macOS test build available? I can fire up a WorkSpace or something, but obviously local testing is more convenient.

[2021-07-08 07:37] ahopp opened #173 "Updates and Corrections Needed in FAQs"
There are some updates needed in the FAQs.

- [x] In FAQ 1.19, "How do I contribute functionality and get it on the public roadmap?", the proposal template link is dead.
- [x] In FAQ 1.10, the compatibility documentation link should go to this [link](https://docs-beta.opensearch.org/clients/agents-and-ingestion-tools/index/#compatibility-matrices).
- [x] In FAQ 3.23 and 3.25, there is a typo: "ple

[2021-07-08 21:46] stockholmux commented on #173
1.4 is still pending until GA is actually launched.

[2021-07-09 17:02] elfisher commented on #173
makes sense. Can we link this to the 1.0 announcement PR since it is related?

[2021-07-12 21:41] ashwin-pc opened #195 "The header link to the documentation page is broken"
https://opensearch.org/docs returns 404 but https://opensearch.org/docs/javadocs/ works

[2021-07-13 00:32] #195 closed

[2021-07-13 15:50] stockholmux commented on #173
We can close this now! :insert party emoji:

[2021-07-13 15:50] #173 closed

[2021-07-13 20:49] dblock commented on #57
Updated the description of this issue to clarify what I am suggesting.

[2021-07-14 21:49] stockholmux opened #199 "Clarify copyright language in footer."
See: https://github.com/opensearch-project/.github/issues/21

[2021-07-15 17:02] tmarkley opened #201 "Typo on Downloads page"
Under the first section [Try OpenSearch with Docker Compose](https://opensearch.org/downloads.html#docker-compose) there is a typo:

This should read

[2021-07-15 18:52] dblock commented on #201
Did you make a PR yet? ;)

[2021-07-15 19:02] tmarkley commented on #201
Haven't had a chance to pull down the repo yet, but yes I can this afternoon :)

[2021-07-16 14:32] #201 closed

[2021-07-16 16:42] dblock commented on #44
I actually think project-website is good given other project- repos

[2021-07-16 16:42] #44 closed

[2021-07-19 16:28] stockholmux opened #205 "'Previous' on downloads page hits a 404"
It links `https://opensearch.org/versions/opensearch-1-0-0-rc1` but should be `https://opensearch.org/versions/opensearch-1-0-0-rc1.html`

[2021-07-19 16:49] dblock opened #206 "Add an automated link checker"
Coming from #205

[2021-07-19 16:50] dblock commented on #205
Let's use this opportunity to add a link checker, https://github.com/opensearch-project/project-website/issues/206

[2021-07-19 16:50] dblock commented on #146
Closed via https://github.com/opensearch-project/project-website/pull/204

[2021-07-19 16:50] #146 closed

[2021-07-19 19:05] stockholmux commented on #161
It looks like we're taking care of this on the docs website only.

@aetter @tmarkley @kavilla @dblock - thoughts?

[2021-07-19 19:05] stockholmux commented on #147
Fixed by #175.

[2021-07-19 19:05] #147 closed

[2021-07-19 19:50] aetter commented on #161
@stockholmux Yep, as far as I know, this is done and can be closed out here. https://opensearch.org/docs/upgrade-to/dashboards-upgrade-to/

Side note: I don't like the notion of renaming kibana.yml and didn't recommend it; if you want to start using the security plugin, you need to merge kibana.yml and opensearch_dashboards.yml, and it's not like copying and pasting one into the other is significa

[2021-07-19 19:56] stockholmux commented on #161
OK. I'm going to close this out. If anyone disagrees, reopen.

@aetter The you don't like the idea of a _renamed_ `kibana.yml` or the _renaming_ `kibana.yml` to `opensearch_dashboards.yml`?

[2021-07-19 19:56] #161 closed

[2021-07-19 21:30] #205 closed

[2021-07-20 21:33] #57 closed

[2021-07-20 21:33] stockholmux commented on #57
`main` is now the working branch 🥳

[2021-07-21 00:06] dblock opened #212 "Cleanup branches"
There's a bunch of random merged/unmerged branches leftoever, delete the ones that don't have anything useful. People should be working off forks :)

[2021-07-21 22:42] stockholmux commented on #212
:+1:

[2021-07-21 22:42] #212 closed

[2021-07-22 18:00] stockholmux opened #221 "Move to new front-end package management"
Current the project uses bower (inherited from forked project), which is functionally deprecated and not used in the current setup. The project should move to a more modern front-end dependency system.

[2021-07-22 20:51] setiah opened #222 "Fix Get Started documentation"
The `Get Started` instructions for setting up a docker based OpenSearch cluster does not work as mentioned. These instructions are missing some pre-requisite settings for linux and Mac, which make docker setup fail. This creates confusion and bad Getting started experience for users.

Fix is suggested here - https://github.com/opensearch-project/OpenSearch/issues/978

[2021-07-23 19:55] zhongnansu opened #328 "Do we have plan to do a patch release for OpenDistro?"
1. What's the plan to deprecate OpenDistro.
2. Do we have plan to do patch release for OpenDistro plugins? I think there're still people using them.

Is this repo the right place to put this type of issue?

[2021-07-25 00:19] aditjind opened #227 "Update the documentation link on the FAQ Page"
The documentation link to the Compatibility Matrices  for Log-stash and Beats on the [FAQ Page](https://opensearch.org/faq/#q1.11) link to a [broken page](https://docs-beta.opensearch.org/docs/agents-and-ingestion-tools/#compatibility-matrices). Fix needs to go in to link it to the correct page.

[2021-07-25 10:19] aditjind opened #229 "Add Search Functionality to the Main Website."
The documentation website currently has the [search functionality](https://github.com/opensearch-project/documentation-website/blob/main/_config.yml#L98) enabled. This functionality gives the user the flexibility to search for any topic on the website. The topics on the main website include latest blogposts, getting started sections, faqs etc.

In addition to the enabling the search, we might need

[2021-07-27 10:10] #227 closed

[2021-07-27 15:32] stockholmux commented on #229
Thanks for the call out @aditjind. The documentation search functionality is a hold over from porting the Open Distro documentation site. It runs in the front-end and, as that gets versioned, will likely be more and more problematic. There is only so much one can expect javascript to do as far as a search engine from the browser (note: I speak from experience - I have made the grave mistake in pre

[2021-07-27 15:38] stockholmux opened #238 "Site lacks testing"
Add testing framework to ensure major changes do not break functionality

[2021-07-29 21:17] stockholmux opened #242 "Add all repos to the 'source' page"
Currently, the source page only lists the overall project, opensearch, opensearch dashboards and project-website. The page should include all major the repos at `github.com/opensearch-project`

[2021-07-31 14:39] sandervandegeijn opened #246 "Add page to generate passwords"
When you deploy docker containers or kubernetes containers the current process is cumbersome. You first to spin it up, then you can use the hash.sh / hash.bat scripts to generate some passwords (masking the passwords is also a hassle because you don't know what you pasted in the console).

A page on the website where you can put in the password and get the appropriate hash back would be nice.

[2021-08-03 21:10] elfisher commented on #246
Do you have an example site in mind that you could share? I'm trying to better understand the request. Thanks!

[2021-08-03 21:38] stockholmux commented on #246
@ict-one-nl I'd love to know more - as @elfisher notes, it'd be good to see another project doing something similar.

[2021-08-04 19:55] ict-one-nl commented on #246
I don't have an example site, but it's quite simple: provide the functionality the hash.sh / hash.bat provides: have an input field for the plain text password(s) and generate (preferably client side) the corresponding hash(es) so that it can be copy/pasted into the security configs.

[2021-08-05 14:30] stockholmux commented on #246
I like the idea and generally the idea website-driven configurators. I'm going to put it on the roadmap but I think this should be part of a larger effort on configuration.

[2021-08-05 19:56] ict-one-nl commented on #246
Great thanks, if you guys to spar about ideas, np.

[2021-08-05 21:20] dblock opened #251 "It's difficult to find a direct link to a download"
There's a beautiful dropdown to select a platform to download, but what I need is a direct link so I can `wget` the .tar.gz from a remote system. Can we please either change the beautiful dropdown to a list or add direct links?

<img width="871" alt="Screen Shot 2021-08-05 at 5 19 59 PM" src="https://user-images.githubusercontent.com/542335/128422698-e7895d9e-443f-4497-811b-ed26361022ee.png">

[2021-08-05 21:23] stockholmux commented on #251
@dblock Yep - I get the use-case. I've been thinking about something like this:

<img width="302" alt="Screen Shot 2021-08-05 at 3 21 17 PM" src="https://user-images.githubusercontent.com/1152927/128423017-4b748b3f-4b41-4f95-8674-6a5a6ba0087d.png">

Or even a "Copy as cURL" button.

Thoughts?

[2021-08-05 21:25] stockholmux commented on #251
[PS - those are links-styled-as-buttons, so you can right click "Copy as Link" right now]

[2021-08-06 17:11] dblock commented on #251
I like both copy link or copy as cURL (as `wget` though?)!

[2021-08-06 17:58] dblock opened #252 "Correct copyright notices to reflect Copyright OpenSearch Contributors"
Coming from https://github.com/opensearch-project/.github/issues/21.

The correct copyright for open-source projects in opensearch-project is "Copyright OpenSearch Contributors". Please correct any places that say otherwise, especially where it says copyright Amazon. Make sure NOTICE.txt and README match. See https://github.com/opensearch-project/.github/pull/24 for an example.

[2021-08-09 20:24] stockholmux commented on #222
fixed by #250

[2021-08-09 20:24] #222 closed

[2021-08-10 06:13] VijayanB opened #254 "Macos artifacts for opensear cli"
Shall we include macos pkg artifacts link for opensearch cli?

[2021-08-10 19:43] elfisher commented on #254
That makes sense. Are these built and hosted already and just need to be linked to from the website?

[2021-08-10 21:53] stockholmux commented on #254
I created the stubs for these a while back - can you make any updates as needed and send a PR @VijayanB? It's basically YAML.

Looks like the `artifact_url` and `signature` will need to be updated. Additionally, the filename will need to have the initial `_` removed from the file name to unhide it from Jekyll.

If we aren't doing an arm64 version, we can just delete the arm64 version for the time

[2021-08-11 04:15] AMoo-Miki commented on #29
I will take this over.

[2021-08-12 17:23] AMoo-Miki commented on #29
![opensearch-org-verified](https://user-images.githubusercontent.com/3527403/129240608-b3a69ed1-e27a-427b-855a-e5f89984fd1b.png)

[2021-08-12 17:31] stockholmux commented on #29
Looks like this is now solved. Horray!

[2021-08-12 17:31] #29 closed

[2021-08-18 18:36] stockholmux opened #271 "Past meetups are in wrong sort order"
On http://opensearch.org/events/past.html, it appears that the past meetups are not in date order. It should be from most recent to least recent.

[2021-08-19 20:55] stockholmux commented on #206
Closed by #264

[2021-08-19 20:55] #206 closed

[2021-08-19 20:55] stockholmux commented on #254
Closed by #272

[2021-08-19 20:55] #254 closed

[2021-08-20 13:39] #252 closed

[2021-08-20 18:02] peternied commented on #128
Yesterday there was a configuration issue directing traffic to http instead of https, that issue could have been detected much faster if we had alarms in place.

[2021-08-20 18:09] peternied opened #276 "Hosting configuration should be mastered in source control"
The hosting configuration is not managed in source control, it resides in a manually configured AWS Account.  This should be transitioned to CDK / CFN or another codified process to prevent misconfiguration or to restore the website if there is an issue.

There are tutorials available online, such this one by @okeeffed https://blog.dennisokeeffe.com/blog/2021-08-08-building-a-cdn-with-s3-cloudfron

[2021-08-20 18:40] stockholmux commented on #276
I don't love this, to be honest. I think there should be a clean separation between the site (data/visuals) and the deployment.

I guess I don't care how it's or if it's codified, but I don't think it belongs _here_ in this repo. If someone wants to fork this website, they're getting a lot of other stuff that is just not relevant. Additionally, we wouldn't expect anyone to be able meaningfully con

[2021-08-20 19:46] peternied commented on #276
I don't mind where it lives, but it should live somewhere :)

[2021-08-23 14:14] elfisher opened #280 "Clarify in README that posts in the future can be rendered with "--future" flag"
Per Jekyll we can append the `--future` flag when running serve so that blogs posted in the future can be tested. The README should reflect this in the serve instructions.

[2021-08-23 14:16] stockholmux commented on #280
Placing a link to the docs is fine, but I don't want to re-create the Jekyll docs on our README.

Note: we should also be careful about sending the message that future dated posts will automatically appear - they won't - we're not setup to do that.

[2021-08-23 15:09] stockholmux commented on #271
Closed by #278

[2021-08-23 15:09] #271 closed

[2021-08-23 15:10] stockholmux commented on #276
@peternied What about https://github.com/opensearch-project/opensearch-devops?

[2021-08-23 15:17] stockholmux commented on #128
@AMoo-Miki What do you think on this issue?

[2021-08-23 15:55] elfisher commented on #280
Interesting @stockholmux . Should we set ourselves up to do that?

[2021-08-23 16:06] peternied commented on #276
I like the idea of single purpose projects/repos.  Having this repository be content focus makes a lot of sense, so the deployment tech would sit elsewhere. What about if we made a new repository called `project-website-deployment` or `project-website-infra` that was dedicated to this effort, rather than the more generic location?

If we do move this issue, I think it would make sense to move http

[2021-08-23 16:19] stockholmux commented on #276
Also #128

[2021-08-23 16:36] stockholmux commented on #280
@elfisher It's a little hard to achieve, but not impossible. Basically it's like a triggered cron job to generate the site, but since the site is entirely on S3, we'd have to either setup something like a server or serverless function to run it.

[2021-08-23 20:57] elfisher commented on #280
got it. Sounds like a more involved enhancement. Makes sense to keep it separate from this issue. Also agreed with the earlier comment. Linking to docs makes more sense.

[2021-09-02 11:48] dblock opened #296 "Publish maven artifacts"
Coming from https://github.com/opensearch-project/OpenSearch-build/issues/20#issuecomment-910728952, either add to downloads or create a new page that links to releases and SNAPSHOT builds for maven artifacts.

[2021-09-03 20:47] stockholmux commented on #280
Fixed by #281

[2021-09-03 20:47] #280 closed

[2021-09-10 20:01] dblock opened #310 "Create a page for the next release(s) of OpenSearch"
When https://github.com/opensearch-project/opensearch-build/issues/388 is done we will have a way to know what the next version of OpenSearch is. This means this repo could have automation that could create a page for that release. It could, for example, have the target date for the release, a link to a roadmap board, etc.

[2021-09-13 14:21] stockholmux commented on #310
Thanks @dblock - I've been thinking about this too - it's a good idea.

I'm not sure the manifest files are incredibly helpful in the downloads pages though. Looking at [1.0.1](https://github.com/opensearch-project/opensearch-build/blob/main/manifests/1.0.1/opensearch-1.0.1.yml) the manifest files are concerned with what makes up the distribution where the downloads page is about the artifacts tha

[2021-09-15 04:40] dblock commented on #310
Manifests are just sources of truth of what is being worked on. Right now it should be 1.0.1, 1.1.0, 1.2.0 and 2.0.0.

[2021-09-16 19:24] stockholmux opened #312 "Add LinkedIn on author profiles"
Allow authors to provide linkedin on their profiles.

[2021-09-20 17:51] bwalsh opened #324 "docker-compose quickstart documentation security SNAFU"
Hi.
Thanks for a great product.

I attempted the `The best way to try out OpenSearch is to use Docker Compose. ` path.

Unfortunately, the instructions imply that a default security configuration is in place.

However, it appears that security still needs to be setup.

[code]

see:

* https://opensearch.org/downloads.html#docker-compose
* https://github.com/opensearch-project/project-website/blob/

[2021-09-28 17:02] stockholmux commented on #328
@dblock We're likely to have more updates on this subject later this week, maybe next. I'll hold until then.

[2021-09-28 17:07] stockholmux commented on #324
@bwalsh That's odd. I can't seem to recreate this issue and security is in place for me.

[2021-09-28 17:08] stockholmux commented on #324
Can you try standing up the `docker-compose` again?

[2021-09-28 17:26] bwalsh commented on #324
Thank you.  I deleted all previous images and re pulled; all went as expected

[2021-09-28 17:26] #324 closed

[2021-09-29 15:18] elfisher opened #329 "Update on OpenSearch clients"
**Describe the blog post your would like to write**
Write a blog that summarizes current status on clients and highlight where to download the published clients and how to get started.

**What is the title of the blog post?**
OpenSearch Clients Update - Python, Go, and JS are live!

**Who are the authors?**
@elfisher

**What is the proposed posting date?**
9/30/2021

[2021-09-29 16:42] stockholmux commented on #329
@elfisher Could you update this issue with this template:

https://github.com/opensearch-project/project-website/blob/main/.github/ISSUE_TEMPLATE/blog_post.md

[2021-09-29 16:46] elfisher commented on #329
Yup!

[2021-09-29 21:56] peternied opened #332 "[BUG] Invalid fingerprint for PGP"
**Describe the bug**
Invalid fingerprint for PGP

**To Reproduce**
1. Go to https://opensearch.org/verify-signatures.html
2. See the text `Our current PGP key fingerprint is C2EE 2AF6 542C 03B4`

The key we publish is a subkey of the master public key, so this is technically incorrect.

The fingerprint is the subkey id, which you can verify with these commands:
[code]

**Expected behavior**
We cou

[2021-09-29 22:02] stockholmux commented on #332
@peternied Would we just need to add the subkey? Something along the lines of:

`Our current PGP key fingerprint is C5B7498965EFD1C2924BA9D539D319879310D3FC and the subkey id is C2EE2AF6542C03B4`?

[2021-09-29 22:33] peterzhuamazon commented on #332
@stockholmux the key we currently publish IS the subkey.
The `fingerprint` we published is the subkey ID.

These are all correct information on the website.

The confusing part is the fingerprint normally means the master public key fingerprint.
When you try to use GPG to verify fingerprint it will normally print out the master public key fingerprint.

However, if you use the command I provide abo

[2021-09-29 22:38] peternied commented on #332
@peterzhuamazon Could you make a PR of what you think the correct page should contain?

[2021-09-29 22:53] peterzhuamazon commented on #332
https://github.com/opensearch-project/project-website/pull/333

[2021-09-30 17:18] peternied opened #334 "Ensure DCO Workflow Check"
Coming from https://github.com/opensearch-project/project-meta/issues/17

A Developer Certificate of Origin is required on commits in the OpenSearch-Project.

See [doc.yml](https://github.com/opensearch-project/.github/blob/main/workflow/dco.yml) for an example workflow.  Ensure CONTRIBUTING.md to has a section on the DCO per the [project template](https://github.com/opensearch-project/.github/blo

[2021-09-30 17:18] #332 closed

[2021-09-30 17:20] stockholmux commented on #334
@peternied No DCO in this repo due to a different license (BSD, inherited from forked project).

[2021-09-30 18:38] dblock commented on #334
@stockholmux How does the BSD license relate to (not) needing developers to do DCO?

[2021-09-30 21:35] dblock opened #340 "Building OpenSearch 1.1 Distributions using Automation"
**Describe the blog post your would like to write**

This post details how the OpenSearch project produces reliable and repeatable distributions.

**What is the title of the blog post?**

Building OpenSearch 1.1 Distributions using Automation

**Who are the authors?**

dblock@

**What is the proposed posting date?**

2021/09/30

[2021-09-30 21:35] dblock commented on #340
Blog post is https://github.com/opensearch-project/project-website/pull/293

[2021-10-01 14:01] elfisher commented on #329
Resolved by https://github.com/opensearch-project/project-website/pull/339

[2021-10-01 14:01] #329 closed

[2021-10-01 20:01] stockholmux commented on #340
@dblock This can be published on 2021/10/04 - would that work?

[2021-10-01 20:17] dblock commented on #340
Works for me. LMK if you want me to do anything else.

[2021-10-04 09:34] dhina1990 opened #355 "[BUG] [ Deprecation ] overriding main response version number will be removed in a future version"
**Describe the bug**
We use the override main response version number parameter so that OS 1.0.0 works well with Logstash output plugin and the curator.

We could observe the deprecation logs for using it. We would like to understand in which version of Opensearch, this is planned to be removed. Is there any improvement/fix planned in the logstash and curator projects ?

[2021-10-04 16:45] rohin opened #347 "Cross-cluster replication Introduction"
**Describe the blog post your would like to write**
We would like the introduce the cross-cluster replication capability in OpenSearch to the community and share our thought process that went into building the same.

**What is the title of the blog post?**
Introduction to Cross-Cluster Replication

**Who are the authors?**
Who will be listed as the authors of this blog post
Rohin Bhargava
Gopala K

[2021-10-04 22:06] ahopp opened #348 "1.1 Launch Blog Post"
**Describe the blog post your would like to write**
We'll need a 1.1 launch blog that highlights new features, upcoming features, etc.

**What is the title of the blog post?**
1.1 is released!

**Who are the authors?**
Charlotte Henkle (@CEHENKLE)
Andrew Hopp (@ahopp)

**What is the proposed posting date?**
10/05/2021

[2021-10-04 22:07] ahopp commented on #348
Hey team! I'll open a PR tonight.

[2021-10-04 23:14] stockholmux commented on #340
Closed by #351

[2021-10-04 23:14] #340 closed

[2021-10-05 18:35] vivainio opened #354 "[BUG] Suggested docker-compose.yml doesn't work with Docker Desktop for Windows, WSL2 mode"
**Describe the bug**

In instructions stored at:

https://opensearch.org/downloads.html

It suggests to do this:

[code]

However, this setting  is not available in WSL2 mode.

When you do "docker-compose up", you get this error in the logs:

[code]

There is no "easy" way to do this in Docker Desktop, in WSL2 mode.

**To Reproduce**

0. Enable Docker Desktop WSL2 mode, as described in: https://do

[2021-10-05 19:48] elfisher commented on #354
@vivainio I like this approach. @stockholmux would it make sense to have this as an additional sentence at the top like "The best way to try out OpenSearch is to use Docker Compose. If you are on Windows, use this Docker Compose file.  These steps will setup a two node cluster of OpenSearch plus OpenSearch Dashboards:"

[2021-10-06 18:22] skkosuri-amzn opened #363 "OpenSearch Alerting"
**Describe the blog post your would like to write**
This blog post goal is two fold. 1. Explain the problem OpenSearch Alerting plugin solves and provide details on how user can setup monitors. 2. The second part covers on how the solution works. Handling multiple scenarios like delayed ingested data, periodic runs, alerts life cycle and its management.

**What is the title of the blog post?**
Get

[2021-10-06 18:53] skkosuri-amzn opened #364 "OpenSearch Users Activity Analysis"
**Describe the blog post your would like to write**
OpenSearch audit logs maintain a record of user activity of the cluster. This blog provides details on OpenSearch audit logs,  creating new dashboards that gets insights into Users activity, a set of OpenSearch monitors that create alerts based on abnormal User activity, and a set of Saved Queries for ad-hoc exploration.

**What is the title of t

[2021-10-07 19:20] stockholmux commented on #364
@skkosuri-amzn sounds good- 2021-11-01 is a good posting date.

[2021-10-08 08:02] lornajane opened #368 "[BLOG POST] Partner Highlight: OpenSearch is available on Aiven"
**Describe the blog post your would like to write**
Aiven launches OpenSearch as a service, with simple migration from existing Elasticsearch. That's not the fun part :) We're very excited to be hands-on supporting the OpenSearch project from the start, and we're now upstream contributors, library maintainers, and advocates. Ensuring an open source future for everyone is important.

**What is the

[2021-10-08 14:24] stockholmux commented on #347
@rohin I assume you want this blog post out early next week instead of on a Saturday? 2021/10/11 (Monday)?

[2021-10-11 19:25] setiah opened #371 "Testing automation for OpenSearch Releases"
**Describe the blog post your would like to write**
This post describes the automated testing process for OpenSearch 1.1 and subsequent releases.

**What is the title of the blog post?**
Testing automation for OpenSearch Releases

**Who are the authors?**
setiah@

**What is the proposed posting date?**
2021/10/11

[2021-10-11 19:26] setiah commented on #371
Blog post in #341

[2021-10-12 12:12] giocollina opened #372 "OpenSearch Security Concepts"
**Describe the blog post your would like to write**
The post describes the main concepts OpenSearch Security is based on. It is the first article in a multi-part series which we would like to contribute to OpenSearch.

**What is the title of the blog post?**
OpenSearch Security Concepts

**Who are the authors?**
Anton Rubin
https://ie.linkedin.com/in/anton-rubin-89a186150

**What is the proposed p

[2021-10-12 16:08] laneholloway opened #373 "Data Prepper 1.1 Release Blog Post"
**Describe the blog post your would like to write**
A blog post announcing the Data Prepper 1.1 release

**What is the title of the blog post?**
Data Prepper 1.1 is available!

**Who are the authors?**
Lane Holloway, Rajiv Taori, George Chen

**What is the proposed posting date?**
Friday, October 15, 2021

[2021-10-14 00:15] ahopp opened #379 "Documentation Search Using OpenSearch"
**Describe the blog post your would like to write**
This blog will focus on the implementation/development of documentation search using OpenSearch.

**What is the title of the blog post?**
[Working Title] Documentation Search Using OpenSearch

**Who are the authors?**
@abbashus

**What is the proposed posting date?**
TBD

[2021-10-14 13:53] stockholmux commented on #347
Closed by #374

[2021-10-14 21:04] bbarani opened #383 "[discuss] Add explicit 'Downloads' link to opensearch.org"
**Is your feature request related to a problem? Please describe.**
Currently we have to click the 'Get started' link to get the downloads page and it can be very confusing for some users.

**Describe the solution you'd like**
Replace 'Get started' with 'Downloads' link on the top navigation menu in opensearch.org.

**Describe alternatives you've considered**
Clicking 'Get started' to get to the do

[2021-10-15 17:50] dblock commented on #383
I was thrown off by “get started” being downloads; I think we want both

[2021-10-15 18:13] ahopp commented on #379
I believe the plan is to release the blog with the implementation release. @abbashus is that correct?

[2021-10-15 21:49] stockholmux opened #387 "[BUG] Update the Source page"
**Describe the bug**
Source page descriptions have fallen out of sync with repo descriptions

**Expected behavior**
Souce page descriptions are in sync with repo descriptions

[2021-10-20 21:26] #373 closed, assigned to nobody

[2021-10-20 21:26] stockholmux commented on #363
https://opensearch.org/blog/partners/2021/10/alerting-intro/ 🎉

[2021-10-21 15:02] saratvemulapalli opened #405 "Moving from Elasticsearch OSS to OpenSearch"
**Describe the blog post your would like to write**
A follow up of the blog post: https://opensearch.org/blog/technical-posts/2021/07/how-to-upgrade-from-opendistro-to-opensearch/, we would like to cover how the move looks like from Elasticsearch OSS to OpenSearch.

**What is the title of the blog post?**
Moving from Elasticsearch to OpenSearch

**Who are the authors?**
@saratvemulapalli

**What i

[2021-10-21 17:31] stockholmux opened #407 "[BUG] Update clients blog to indicate status of forked clients"
**Describe the bug**
On blog post "Carrying forward the OpenSearch client libraries as a community" it doesn't show the status of released clients.

**Expected behavior**
Those clients which are available should be indicated as such. For example, linking to https://opensearch.org/blog/community/2021/09/opensearch-py-js-go/

[2021-10-22 17:39] #387 closed, assigned to stockholmux

[2021-10-25 13:31] ElishevaOpster opened #414 "How to migrate from Elasticsearch to OpenSearch - blog by Opster team"
**Describe the blog post your would like to write**
This post will cover the various methods that can be used to migrate from ES to OS.

**What is the title of the blog post?**
How to migrate from Elasticsearch to OpenSearch

**Who are the authors?**
Gustavo - The Opster Team

**What is the proposed posting date?**
November 1st

[2021-10-25 19:37] giocollina opened #415 "Add mermaid.js to Jekyll site generator"
**Is your feature request related to a problem? Please describe.**
If you write technical blog posts you often have the requirement to add diagrams for clarification / visualisation. This can be flow charts, sequence diagrams and the like. Drawing them manually using a tool like draw.io is tedious. Especially if you need to make changes to an already existing diagram.

**Describe the solution you'

[2021-10-26 15:16] #368 closed, assigned to nobody

[2021-10-26 15:17] #371 closed, assigned to nobody

[2021-10-27 04:04] alochym01 opened #423 "Install opensearch using opensearch repository"
Is there any ubuntu/debian repo to install like we have with opendistro
- https://opendistro.github.io/for-elasticsearch-docs/docs/install/deb/

thank you

[2021-10-27 13:08] #423 closed, assigned to nobody

[2021-10-28 18:08] VachaShah opened #428 "Backwards Compatibility Testing for OpenSearch"
**Describe the blog post your would like to write**
A blog post for detailing the Backwards Compatibility testing framework in OpenSearch.

**What is the title of the blog post?**
Backwards Compatibility Testing for OpenSearch

**Who are the authors?**
@VachaShah
@saratvemulapalli

**What is the proposed posting date?**
11/8

[2021-10-28 18:58] chloe-zh opened #429 "Publish the JDBC and ODBC driver artifacts in OpenSearch download page"
**Is your feature request related to a problem? Please describe.**
NA

**Describe the solution you'd like**
We would like to release the OpenSearch JDBC and ODBC drivers for the OpenSearch users to connect their clusters with the BI tools like PowerBI, Tableau etc., the release will be compatible with both OpenSearch and legacy ODFE clusters.

**Describe alternatives you've considered**
Just like

[2021-10-28 21:50] stockholmux opened #431 "Create new section for OpenSearch drivers on Downloads/Getting Started page."
**Is your feature request related to a problem? Please describe.**
The current downloads page doesn't have a section for downloading drivers such as ODBC/JDBC and potentially clients libs.

**Describe the solution you'd like**
A section to hold these artifacts with a heading (TBD) and a descriptive paragraph (TBD).

**Describe alternatives you've considered**
A single section to hold tools (opense

[2021-10-29 15:55] #372 closed, assigned to nobody

[2021-10-29 19:44] #405 closed

[2021-10-31 12:21] ElishevaOpster commented on #414
Hi @stockholmux , we're not quite sure how you'd like us to put the blog post in a PR. Should we create a new file inside "posts" and name a branch?

Is it an option to just provide you with the google doc, or the full article in HTML format? We have the full article here, with a no index tag: https://opster.com/elasticsearch-glossary/migrate-from-elasticsearch-to-opensearch/
We will update it lat

[2021-11-01 14:44] stockholmux commented on #414
Hey @ElishevaOpster. The strong preference is to have you add the post yourself as it properly attributes the blog post to you in version control and you get to have formatting the way you want it. We've helped folks in the past but it becomes a lot of back and forth, it's quicker and cleaner if you take it yourself.

The basic flow is to fork the website, create a feature branch, add the post (it

[2021-11-01 15:36] elfisher commented on #431
How about clients? We could link to clients respective package manager downloads too (NPM, PyPI, etc...)

I am starting to wonder if we should have a clients and tools section that combines some of these categories (cli, clients, ingest tools, etc...).

[2021-11-01 19:06] stockholmux commented on #364
@skkosuri-amzn How is this going?

[2021-11-01 19:55] ohltyler opened #437 "Publish blog for Anomaly Detection 1.1 Unified Flow feature"
**Describe the blog post your would like to write**
A detailed description of the unified flow feature / enhancement in the Anomaly Detection plugin as part of the 1.1 release. Using an example, the blog will walk through how to set up and run real-time and historical anomaly detection using the unified workflow.

**What is the title of the blog post?**
[PENDING] "Simplifying real-time and histori

[2021-11-01 20:53] stockholmux commented on #383
3 PRs are ready - let's continue discussion of options on the forums:

https://discuss.opendistrocommunity.dev/t/download-or-get-started-on-opensearch-org/7317/5?u=searchymcsearchface

[2021-11-01 21:04] stockholmux commented on #312
closed by #370

[2021-11-01 21:04] #312 closed

[2021-11-02 19:53] setiah opened #440 "Blog post on how to use Java REST client with security enabled OpenSearch cluster"
**Describe the blog post your would like to write**
Increasingly we are seeing users facing trouble configuring clients with security enabled OpenSearch clusters. This blog post would cover details around how to configure SSL for Java High level REST client to work with secure OpenSearch clusters.

**What is the title of the blog post?**
tbd

**Who are the authors?**
setiah@

**What is the propose

[2021-11-02 20:35] stockholmux commented on #440
Thanks @setiah - can you give me a ball park of when you were thinking of wanting this posted?

[2021-11-02 20:36] stockholmux commented on #437
Thanks @ohltyler! This all looks good. Looking forward to a PR.

[2021-11-02 20:40] stockholmux commented on #431
@elfisher I'm open to it, although I don't want to create a grab bag section. I think you run the risk of confusing folks with "one of these things is not like the rest."

To me language clients, CLI tools (opensearch-cli, perftop), and ingest tools (data prepper, logstash) all have their own section.

[2021-11-02 21:31] setiah commented on #440
Sure, it should be around 12th Nov

[2021-11-02 21:35] stockholmux commented on #440
@setiah Any dependency on it being before OpenSearch 1.2.0?

[2021-11-02 21:37] setiah commented on #440
Nope. This can go independent of the release.

[2021-11-02 21:40] elfisher commented on #440
@setiah let's also think about how to articulate this for clients in general.

[2021-11-02 21:50] setiah commented on #440
Good point,. I was thinking along the same lines. :) I wanted to investigate the commonalities across other clients. Depending on the overlap, i'll extend the scope accordingly.

[2021-11-03 03:45] ahopp opened #441 "Blog post on how to use OpenSearch Dashboard custom branding"
**Describe the blog post your would like to write**
We should write a blog post on how to use the new customer branding features in OpenSearch Dashboards. Most of the content is avail on this issue https://github.com/opensearch-project/documentation-website/issues/241 but needs some narrative structure.

**What is the title of the blog post?**
[Working Title] Making OpenSearch Your Own

**Who are

[2021-11-03 03:46] ahopp commented on #441
Hey @abbyhu2000 you interested in helping draft a blog post with me and @kavilla? All the cool kids are doing it.

[2021-11-03 03:59] abbyhu2000 commented on #441
@ahopp Sure!!! Would love to ;)

[2021-11-03 14:00] stockholmux commented on #441
Seems like a great topic and glad to see @abbyhu2000 helping out.

I'd like to nail down a more precise timeline @ahopp - keep in mind: Thanksgiving, Re:Invent, and December holidays.

[2021-11-03 14:09] stockholmux commented on #440
@elfisher From a perspective of SEO and link-ability, it's probably better to have a single post per language/client.

Think about it - a user isn't going to type "opensearch client security" or something into google. They are going to type "java client opensearch security"

Likewise, if a users is struggling with this issue, throwing them a specific link about Java will be really valuable and the

[2021-11-03 14:11] stockholmux commented on #364
@skkosuri-amzn That's fine, please edit your initial issue to reflect that.

[2021-11-03 16:13] stockholmux commented on #199
Closed by #442/#443

[2021-11-03 16:13] #199 closed

[2021-11-03 16:19] ahopp commented on #441
@abbyhu2000 awesome! @kavilla and I will get it started and we can work in the PR together.

@stockholmux make sense - are there any gap you'd like to fill post launch?

[2021-11-03 21:39] stockholmux commented on #440
@elfisher Yeah, I think the cert complexity and confusion might also be a weakness in the documentation.

[2021-11-03 21:40] kuberkaul opened #444 "Proposal for a blog post on building a tracing pipeline using data prepper and opensearch with opentelemetry data."
**Blog Description** :

Documenting :
- how-to and learnings while building a distributed tracing pipeline with open telemetry agent/collector, data prepper and opensearch.
- Visualizing trace data in opensearch trace analytics and jaeger.

**Blog Title** :
Building a distributed tracing pipeline with opentelemetry collector, data prepper and opensearch.

**Who are the authors?**
- Kuber Kaul
Dist

[2021-11-03 21:41] stockholmux commented on #441
@ahopp I'm seeing a few that are being held until after 1.2.0, so I'm expecting a log jam right after that until reinvent. Perhaps during the week of reinvent? (I think we might slow to 0 or 1 blog post per week during dec)

[2021-11-04 03:43] CEHENKLE commented on #334
@stockholmux Are you running this down with OSPO, or do you need a hand?

Thanks!
/C

[2021-11-04 14:14] stockholmux commented on #334
@CEHENKLE Yup. On it.

[2021-11-04 15:51] elfisher commented on #440
Agreed. I know there was an issue raised there. I'll follow up on it.

[2021-11-05 16:47] saratvemulapalli opened #446 "Proposal for a blog post on how do plugins work"
**Describe the blog post your would like to write**
A blog post on how do plugins in OpenSearch. How are they loaded and what are the limitations...

**What is the title of the blog post?**
How do plugins work

**Who are the authors?**
@ashwin-pc for Dashboards.
@owaiskazi19 @saratvemulapalli - for OpenSearch

**What is the proposed posting date?**
11/29

[2021-11-05 18:15] TheAlgo opened #447 "Deploy a multi-node cluster using Helm charts"
**Describe the blog post your would like to write**
This blog post will walkthrough how can one set up a multi-node cluster in Kubernetes using the official OpenSearch and OpenSearch Dashboards Helm Charts.

**What is the title of the blog post?**
Setup multi-node OpenSearch Cluster on Kubernetes

**Who are the authors?**
Dhiraj Kumar Jain (@TheAlgo)

Who will be listed as the authors of this blog

[2021-11-05 20:09] #428 closed

[2021-11-08 15:51] saratvemulapalli commented on #446
@stockholmux not really. With the work we are doing for 2.0, we have been learning how things work and wanted to put out the learnings for the community.

[2021-11-08 15:56] stockholmux commented on #444
@kuberkaul That sounds awesome!

You're covering a lot of ground here - do you have thoughts on how long it might end up being?

[2021-11-08 23:39] AMoo-Miki commented on #276
For the deployment process being maintained in a CDK? Of course. Making that public? Not a fan, considering the security risks associated with that.

[2021-11-09 01:28] peternied commented on #276
@AMoo-Miki We are open sourcing the [CI infra](https://github.com/opensearch-project/opensearch-ci), it can be done.  Project visibility aside, I think it is more important that we have it source controlled than if it is open sourced itself.

[2021-11-09 15:08] elfisher commented on #431
That makes sense.

[2021-11-09 15:34] kuberkaul commented on #444
@stockholmux I have just started writing a draft and am planning to compress the details and go slightly high level to be able to put everything in one blog. I was hoping to make a it an under 10 min read if that works. Is there a limit/recommendation to the amount words/reading time ?

[2021-11-09 16:26] stockholmux commented on #444
@kuberkaul No hard limits - Occasionally, I get encyclopedic blog posts but a 10 minute read is appropriate.  👍

[2021-11-09 16:36] stockholmux commented on #431
Current thinking on sections & order

- Try OpenSearch
- OpenSearch
- OpenSearch Dashboards
- Command Line Tools
- Ingest Tools
- Client Libraries and Drivers (@elfisher ODBC/JDBC - thoughts on call that a "driver"?)
- Minimal Distributions

As far as clients, my current thinking is that we treat each language as a platform. So each language is part of a pull down.

[2021-11-09 16:52] elfisher commented on #431
"Drivers" sounds good!

[2021-11-09 17:47] #334 closed

[2021-11-15 21:20] stockholmux commented on #446
Ok Sounds good - we might have some other blog posts that will want this timeline, but I'm flexible

[2021-11-15 21:27] stockholmux commented on #447
@TheAlgo OK - Neat! Sounds like a good post.

[2021-11-16 05:43] achitojha opened #479 "Create announcement for OpenSearch Benchmark"
**Describe the blog post your would like to write**
The blog will be an announcement around OpenSearch Benchmark launch. The blog would highlight what it is, why it is needed and encourage opensearch community members to install, run, request features, etc

**What is the title of the blog post?**
Introducing OpenSearch Benchmark

**Who are the authors?**
- achitojha
- stockholmux

**What is the pr

[2021-11-16 14:17] stockholmux commented on #479
Looks good!

[2021-11-16 22:14] stockholmux commented on #431
@elfisher putting this together, I think we have quite a bit of writing to do:

![Screen Shot 2021-11-16 at 3 09 52 PM](https://user-images.githubusercontent.com/1152927/142074260-0c383909-7787-4c71-a637-3fe981c95f6d.png)

1) Dummy text starting with "Fusce": This should be the intro to the category
2) Dummy text starting with "Mauris": The paragraph describing ODBC driver
3) Dummy text starting w

[2021-11-17 10:16] anirudha opened #481 "[BUG] external link opens to same tab"
**Describe the bug**
Opensearch project org, is an external link which should open in a new tab instead of replacing the current tab

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="459" alt="Screen Shot 2021-11-17 at 2 13 30 AM" src="https://user-images.githubusercontent.com/19362/142181506-6963941f-4b1e-4054-8200-7ddb4170d7b6.png">

[2021-11-17 14:10] stockholmux commented on #440
@setiah What's the status on this?

[2021-11-17 14:11] stockholmux commented on #441
@ahopp What's the status on this?

[2021-11-17 14:13] stockholmux commented on #446
@saratvemulapalli How's this coming?

[2021-11-17 14:14] stockholmux commented on #479
@achitojha Do you want to update the date for this one?

[2021-11-17 14:17] Marob-nod commented on #481
Hi ! Can I work on it ?

[2021-11-17 14:18] elfisher commented on #431
@stockholmux, agreed, we do have quite a bit of writing to do. I put some suggestions to start with inline below. For the clients I'd like to use similar text as much as possible and just swap out necessary details.

OpenSearch provides client libraries for several programming languages and drivers, like ODBC and JDBC, that let you integrate OpenSearch with your applications, business intelligence

[2021-11-17 14:24] stockholmux commented on #481
@Marob-nod Go for it!

[2021-11-17 14:29] stockholmux commented on #431
@elfisher Great start, I think we have to be less formulaic. I'll take a run at it in situ shortly.

[2021-11-17 14:29] Aayush27032001 commented on #481
Hi @anirudha!, Can I work on it? I also founded out very is the problem

[2021-11-17 14:41] Aayush27032001 commented on #481
Hi ! Can you assign this to me ? I also founded where is the problem.

[2021-11-17 15:14] achitojha commented on #479
Updated

[2021-11-17 15:37] stockholmux commented on #481
@Aayush27032001 I think @Marob-nod is tackling this one.

[2021-11-17 15:41] Aayush27032001 commented on #481
I had done it and I was just creating pull request.
![github opensearch (2)](https://user-images.githubusercontent.com/75034170/142232234-27938108-f3fe-4397-afa0-049fb8c99bd6.png)

[2021-11-17 15:52] Aayush27032001 commented on #481
hi @stockholmux I had even fixed this problem and was just creating pull request so may I go forward?

![github opensearch (2)](https://user-images.githubusercontent.com/75034170/142234102-71887d00-7f13-4b0f-8865-b6e76d8603eb.png)

[2021-11-17 15:54] Marob-nod commented on #481
@stockholmux @Aayush27032001 Since you found the solution, I let you handle it. :)

[2021-11-17 15:56] Marob-nod commented on #481
But that is interesting, bc when I inspect this link with the browser, it already has this attribute "_blank".

[2021-11-17 15:58] Aayush27032001 commented on #481
Hi @Marob-nod but it wasn't showing to me!

![Comparing opensearch-project_main Aayush27032001_main · opensearch-project_project-website - Google Chrome 17-11-2021 21_28_25](https://user-images.githubusercontent.com/75034170/142235343-baa87f17-5d89-4068-86be-80829805cf11.png)

[2021-11-17 16:06] Aayush27032001 commented on #481
@Marob-nod thankyou for giving it to me it was my first contribution

[2021-11-17 17:32] Aayush27032001 commented on #481
hi @stockholmux now I made a signed pull request please check that and approved it

[2021-11-18 18:22] saratvemulapalli commented on #446
@stockholmux the content is almost ready.
I'll move this up to Wednesday 11/24 if thats works for you.

[2021-11-18 21:07] #437 closed

[2021-11-19 14:30] stockholmux commented on #446
@saratvemulapalli That's fine but I don't think you'll get many eyeballs. In the US, Turkey will be on folk's mind by that point.

[2021-11-19 14:32] stockholmux commented on #481
closed by #489

[2021-11-19 14:32] #481 closed

[2021-11-19 14:35] stockholmux commented on #441
@ahopp Given the delay of 1.2.0, can you provide a new estimated date?

[2021-11-19 18:03] ashwin-pc commented on #446
@stockholmux Is there a better date that you suggest?

[2021-11-23 20:53] tmarkley opened #524 "[BUG] Documentation search requests from `www.opensearch.org` fail"
**Describe the bug**
Documentation search from https://www.opensearch.org/docs fails with a CORS error in the JavaScript console. Everything works fine at https://opensearch.org/docs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.opensearch.org/docs
2. Attempt to search the docs
3. Notice that no results populate
4. See error in the JS console

**Expected behavior**
Either the CO

[2021-11-23 21:45] stockholmux commented on #524
@abbashus and @AMoo-Miki - looks like this might be related to https://github.com/opensearch-project/project-website-search

[2021-11-23 21:47] abbashus commented on #524
Checking

[2021-11-23 21:54] abbashus commented on #524
We haven't officially release the OpenSearch based search function. I also checked that we are not making any calls to our search API (assuming something accidentally got released). It looks like more to do with how the S3 bucket is setup.

[2021-11-23 22:29] stockholmux commented on #524
Thanks for checking @abbashus. Interestingly, I'm not seeing a problem any longer.

[2021-11-23 22:31] stockholmux commented on #524
I'm actually wondering if we should redirect www.opensearch.org -> opensearch.org...

[2021-11-23 22:41] abbashus commented on #524
This can be fixed by using relative file URL instead of absolute URL in `assets/js/just-the-docs.js`

[code]
The thing is I am not able to find this `just-the-docs.js` in our source code

[2021-11-24 00:52] saratvemulapalli commented on #446
@stockholmux makes sense. We'll have the PR out for OpenSearch (while @ashwin-pc is working on another one for Dashboards).
I'll move the date to Monday 11/29 if thats the best time to publish it.

[2021-11-24 19:57] stockholmux commented on #447
closed by #523

[2021-11-24 19:57] #447 closed

[2021-11-25 01:42] kuberkaul commented on #444
Just an update, The blog is complete on my side, and is with our legal to get approved. Hopefully that is soon (🤞🏽), and I can push it here for feedback, approval, corrections.

Happy Thanksgiving!

[2021-11-30 23:05] stockholmux commented on #444
@kuberkaul Checking in - how's it going?

[2021-11-30 23:05] stockholmux commented on #441
Any update on this post since 1.2.0 is now out?

[2021-12-01 22:27] kuberkaul commented on #444
sorry for the delay. This is approved on our side. I have a few images and config files. I will be keeping them in our org and linking from the post. Hope that works. I'll add the post under _post by tomorrow in a PR and link it here.

[2021-12-01 23:47] tmarkley opened #541 "Dark Mode"
**Is your feature request related to a problem? Please describe.**
Not related to a problem - this would be a nice to have feature.

**Describe the solution you'd like**
A dark mode or theme that can be toggled on and off by the user. Ideally this setting is saved between sessions (cookie?).

**Describe alternatives you've considered**
Browser extensions exist, but it'd be great to have native sup

[2021-12-02 00:49] stockholmux commented on #541
Interesting idea! I'm not a dark mode person, but I know a lot of folks are.

A few thoughts:
1. We'd have to look at the graphical assets and see which ones assume a light background and fix those.
2. We current don't save any cookies AFAIK, so we might need to investigate the need for cookie warning/banners.

[2021-12-02 00:54] stockholmux commented on #444
@kuberkaul Nice!

Looks like we have a blog post cued up for tomorrow and Friday is a sub optimal day - would Monday be good for you?

[2021-12-02 01:40] kuberkaul commented on #444
yes, I am at re;invent so have limited access to make changes anyway. I will push the PR and you can take your time with the feedback/corrections. I will make sure to turn on notifications so I am able to get to them in timely fashion 👍🏽

[2021-12-02 15:43] elfisher opened #544 "Provide Docker Compose configurations that include ingestion tools (e.g. Logstash, Data Prepper, etc)"
**Is your feature request related to a problem? Please describe.**
People use ingestion tools along side OpenSearch in order to parse and format data before writing it to OpenSearch. Some of these tools run as separate servers, and so configurations of the Docker Compose file could include the ingestion tool to simplify testing the tool with OpenSearch.

**Describe the solution you'd like**
On the

[2021-12-02 16:07] stockholmux commented on #544
Already working on it ;)

[2021-12-02 18:08] kuberkaul commented on #444
@stockholmux I have a question, I have some manifest files, helm harts that are part of the blog. I have them in the blog but would also like to host them here to give out a link for all code at the end. Where can I push the manifest in this repo ? Any specific location ?

[2021-12-02 22:08] kuberkaul commented on #444
Decided to host the manifest files in our own repo (should be made public today) ~ its also in the body of the blog.

everything else is part of the PR. Hopefully this is helpful!

[2021-12-03 07:51] getsaurabh02 opened #549 "Shard Indexing Backpressure in OpenSearch"
**Describe the blog post your would like to write**
In this post we dive into the recently released Shard Indexing Backpressure enhancement in OpenSearch 1.2 and how it can improve cluster reliability.

**What is the title of the blog post?**
Shard Indexing Backpressure in OpenSearch

**Who are the authors?**
Saurabh, Dharmesh, Tushar and Ranjith

**What is the proposed posting date?**
08 Dec 2021

[2021-12-03 14:58] stockholmux commented on #549
hey @getsaurabh02  - that looks like a good blog! The publish date might be a little quick, but we usually have to be flexible on that. Do you have an dependency on Dec 8?

[2021-12-03 15:01] stockholmux commented on #444
Thanks @kuberkaul - I'll review today!

[2021-12-03 22:00] AMoo-Miki commented on #524
Thanks for reporting this issue. The new search functionality released a few days ago does not suffer from this bug.

Please feel free to comment or reopen if you notice something we missed.

[2021-12-03 22:00] #524 closed

[2021-12-03 22:07] stockholmux commented on #541
Actually, this can be done via media query!

https://stackoverflow.com/questions/50840168/how-to-detect-if-the-os-is-in-dark-mode-in-browsers

[2021-12-03 22:11] tmarkley commented on #524
@AMoo-Miki thanks! Just out of curiosity, can you link the PR(s) that solved the problem?

[2021-12-03 22:16] AMoo-Miki commented on #524
The PR for the website: https://github.com/opensearch-project/project-website/pull/540
The PR for the docsite: https://github.com/opensearch-project/documentation-website/pull/303

[2021-12-05 19:52] getsaurabh02 commented on #549
No @stockholmux this is not a hard date. Just wanted to keep it as soon as possible.

[2021-12-07 22:33] stockholmux commented on #444
@kuberkaul Congrats:

https://opensearch.org/blog/technical-post/2021/12/distributed-tracing-pipeline-with-opentelemetry/

[2021-12-07 22:33] #444 closed

[2021-12-07 23:43] VijayanB opened #557 "Publish new release for opensearch-cli in OpenSearch Download Page"
**Is your feature request related to a problem? Please describe.**
NA

**Describe the solution you'd like**
We would like to update opensearch-cli download link to latest version

**Describe alternatives you've considered**
N/A

**Additional context**
Relevant issue to release artifacts: https://github.com/opensearch-project/opensearch-build/issues/833

[2021-12-08 15:23] stockholmux commented on #557
@VijayanB Glad to help with this - most of it is actually self-service.

Step 0: Create a private fork of the site
Step 1: Create the artifact files. [There is a how-to](https://github.com/opensearch-project/project-website/blob/main/_artifacts/_README.markdown). In this case, the artifact files would be added to [/_artifacts/opensearch-cli](https://github.com/opensearch-project/project-website/tr

[2021-12-08 18:14] stockholmux commented on #441
Any update on this blog post as far as timing?

[2021-12-08 18:14] stockholmux commented on #429
@chloe-zh Can you provide an update on this?

[2021-12-08 18:15] stockholmux commented on #407
closed by #553

[2021-12-08 18:15] #407 closed

[2021-12-08 19:20] stockholmux commented on #446
closed by #546

[2021-12-08 19:20] #446 closed

[2021-12-08 19:23] saratvemulapalli commented on #446
@stockholmux we should keep this open as @ashwin-pc is working on the second piece of the blog post for Dashboards.
It's up to you if you'd like this to be a different issue.

[2021-12-08 20:48] stockholmux commented on #479
closed by #559

[2021-12-08 20:48] #479 closed

[2021-12-09 20:11] #440 closed

[2021-12-11 07:56] chloe-zh commented on #429
@anirudha

[2021-12-16 19:22] #557 closed

[2021-12-16 19:22] VijayanB opened #581 "Publish logstash-oss-with-opensearch-output 7.16.1 to download page"
Is your feature request related to a problem? Please describe.
NA

Describe the solution you'd like
We would like to update logstash-oss-with-opensearch-output download link to latest version

Describe alternatives you've considered
N/A

Additional context
Relevant issue to release artifacts: opensearch-project/opensearch-build#1347

[2021-12-17 16:54] stockholmux commented on #581
closed by #582

[2021-12-17 16:54] #581 closed

[2022-01-06 05:19] penghuo opened #612 "Blog - OpenSearch SQL - Basic queries"
**Describe the blog post your would like to write**
In this blog, we’ll explore some of the features and capabilities supported by OpenSearch SQL. We also briefly introduce how SQL engine works internally.

**What is the title of the blog post?**
OpenSearch SQL - Basic queries

**Who are the authors?**
penghuo, jadhanir

**What is the proposed posting date?**
No hard date, as soon as possible

[2022-01-06 16:51] elfisher opened #613 "Ingest Connectors blog post"
**Describe the blog post your would like to write**
Write a blog that outlines details on ingest/connector tools to use with OpenSearch.

**What is the title of the blog post?**
TBD

**Who are the authors?**
Eli Fisher

**What is the proposed posting date?**
1/20

[2022-01-07 14:21] stockholmux commented on #613
LGTM

[2022-01-07 14:25] stockholmux commented on #612
@penghuo and @anirudha This looks good!

A point of guidance - the topic sounds a little broad. It would probably both be easier to write and more digestible by readers if you either talk about internals of OpenSearch SQL **or** features and capabilities.

As far as the date, when would you have the content ready? I need to find a place for you in the posting timeline.

[2022-01-11 00:22] penghuo commented on #612
@stockholmux, thanks for your advices!

[OpenSerach SQL - Basic Queries] could be the first blog. We are planning  SQL feature blog series.
Content is ready to be reviewed. https://quip-amazon.com/0tOjA3xcupik/Blog-OpenSearch-SQL-Basic-queries.

[2022-01-12 11:37] ashwin-pc opened #619 "Blog post: Introduction to Dashboard plugins"
**Describe the blog post your would like to write**
This is a follow up article to #526. This time focussing on OpenSearch Dashboards instead of OpenSearch Core.

**What is the title of the blog post?**
Introduction to OpenSearch Dashboard Plugins

**Who are the authors?**
ashwin-pc

**What is the proposed posting date?**
1/21

[2022-01-14 09:02] TetianaFTV opened #623 "[BLOG POST] Partner Highlight: OpenSearch as a Service in Virtuozzo DevOps PaaS"
**Describe the blog post your would like to write**
Virtuozzo announces OpenSearch as the latest certified container available in the its DevOps PaaS solution and now it can be easily deployed with automatic clustering. The OpenSearch Cluster creation within Virtuozzo DevOps PaaS is a straightforward and fully automated process that can be performed directly from the topology wizard. We give the o

[2022-01-14 14:43] stockholmux commented on #623
That sounds awesome @TetianaFTV! FYI @ahopp

[2022-01-14 15:51] dlvenable opened #624 "Better support for archives with or without JDK"
**Is your feature request related to a problem? Please describe.**

Data Prepper releases two bundles for Linux archives:

1. The primary one includes a bundled JDK
2. The second one does not have a bundled JDK

The Data Prepper download page has a small blurb that lets users know they can download it without a bundled JDK on the archives page. It reads:

There should be a better way to select the

[2022-01-17 17:00] stockholmux commented on #624
Thanks @dlvenable - this is a good issue.

I lean a little bit towards the JDK/No-JDK being a packing option, but it does stretch how the word is used on the page.

Perhaps we can get contextual a little bit on this - do you see the JDK/no-JDK distributions(packages?) being of equal importance? Or would No-JDK we something a niche of folks would use?

If it is small number we could also implement

[2022-01-17 17:03] stockholmux commented on #612
@penghuo could you convert that to PR? Quip is internal to Amazon only and blog posts should be open for anyone to review.

[2022-01-18 14:47] ahopp commented on #623
I'll take a look this morning, thanks @TetianaFTV @stockholmux!

[2022-01-18 14:53] TetianaFTV commented on #623
Great, thanks @ahopp!

Just in case, here is the image that can be used for sharing

![OpenSearch_cluster_1200x628](https://user-images.githubusercontent.com/38689227/149960450-6f4b1424-3576-40e6-a571-c199b3d7f4fd.png)

[2022-01-18 16:01] dblock opened #628 "To JDK or not to JDK (and what version)"
**Describe the blog post your would like to write**

Through multiple versions of OpenSearch we have recommended and bundled various versions of JDKs.

- Provide a timeline of which JDK was bundled with which version of OpenSearch.
- Explain the difference between LTS and non-LTS versions of the JDK.
- Document how and where to get a no-JDK version and why one would want to do that.
- Explain the

[2022-01-18 16:13] dlvenable commented on #624
@stockholmux , I am unsure how many users will choose JDK versus no-JDK. We will probably want to watch the download numbers to see.

Regarding the idea of a small download button, I like this idea. It is not far off from my proposed solution with a checkbox.

But, I also want to be sure that the signature file is available for download. I noticed that the current [archives directory](https://open

[2022-01-18 20:42] julian-alarcon opened #661 "Publish an End of of Life / LTS / Supported Versions Policy"
Currently there is no place to look for the supported versions by OpenSearch, or is currently just the latest release supported?
Old project has a good and clear reference of supported versions and a specific plan https://www.elastic.co/support/eol

**Describe the solution you'd like**
There should be a clear document mentioning the current supported versions, if there is any rule to support lates

[2022-01-19 17:42] ahopp commented on #623
Hey @TetianaFTV have you opened a PR for the OpenSearch.org blog post yet? I wasn't able to find it and I'd like to make sure we ready for post.

[2022-01-19 19:52] TetianaFTV commented on #623
Hi @ahopp, and isn't this ticket for OpenSearch.org blog? should I open any other?
I also shared the link to the article draft in our email thread, let me know if I need to share it here also.

[2022-01-19 20:58] ahopp commented on #623
Sorry for the confusion! I'll try to clarify - this ticket is meant to propose a blog post so the OpenSearch team can coordinate calendaring and make sure the content is appropriate (we're all set for both). It will also helps @stockholmux @krisfreedain know when they should post on the forum if applicable (again, we're set for this)!

The PR (pull request) is to publish your content on the websit

[2022-01-19 21:34] ahopp commented on #623
@TetianaFTV let me know if that makes sense! Happy to help where I can!

[2022-01-20 20:04] TetianaFTV commented on #623
@ahopp the PR is submitted https://github.com/opensearch-project/project-website/pull/639
Thanks!

[2022-01-21 19:04] dlvenable opened #640 "Decouple Distinct Products from OpenSearch Versions"
**Is your feature request related to a problem? Please describe.**

Some projects release completely independent of OpenSearch. Both Data Prepper and Logstash OSS with OpenSearch Output Plugin are on distinct releases. I believe the OpenSearch CLI is as well.

The way the download page works for these projects lumps them in with a given version of OpenSearch. This can be confusing because it gives

[2022-01-21 22:06] stockholmux commented on #619
Closed by #641

[2022-01-21 22:07] stockholmux commented on #613
closed by #636

[2022-01-21 22:07] #613 closed

[2022-01-21 22:08] stockholmux commented on #628
@dblock This looks like it would be a mega post. Would you want to split it up into smaller chunks?

Also, some of this looks like it's not currently reflected on the roadmap - is it dependent on anything?

[2022-01-24 14:49] stockholmux commented on #441
@ahopp I'm going to close this out since there has been no update. Feel free to reopen when/if the effort gets some attention

[2022-01-24 14:49] #441 closed

[2022-01-24 14:50] stockholmux commented on #549
@getsaurabh02 Any updates on this?

[2022-01-24 14:53] stockholmux commented on #624
@dlvenable OK. Getting the no JDK as an "Extra" link is a relatively short path. I'll work on that.

Good point on the sig files on the artifacts directory. I'll whip up an issue on that independently.

[2022-01-24 17:47] sbayer55 opened #645 "[BLOG POST] Data Prepper 1.2.1 performance metrics"
**Describe the blog post you would like to write**
Describe performance testing results of Data Prepper 1.2.1, compare Data Prepper 1.2.1 performance metrics with comperable competitor, detail how to reproduce our results.

**What is the title of the blog post?**
Data Prepper 1.2.1 Performance Testing

**Who are the authors?**
@sbayer55

**What is the proposed posting date?**
January 25th

[2022-01-24 20:34] jhockett opened #646 "[BUG] broken link to Lucene docs"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opensearch.org/docs/latest/opensearch/query-dsl/term/#regex
2. Click on 'To learn more, see the Lucene documentation.'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

Working link

**Plugins**
Please list a

[2022-01-24 23:10] pakshi opened #647 "BYOK for B2B SaaS Operators"
**Describe the blog post your would like to write**
B2B SaaS companies with Opensearch as backend data store can rapidly implement BYOK (Bring your own key)

**What is the title of the blog post?**
BYOK for B2B SaaS Operators

**Who are the authors?**
Pakshi Rajan

**What is the proposed posting date?**
ASAP

[2022-01-24 23:11] pakshi commented on #647
I have a content laid out in a Google doc. Happy to share if you provide an email.

[2022-01-25 14:27] stockholmux commented on #646
@jhockett Thanks for the issue! This appears to be related to the documentation (which is in a separate repo). I'll attempt to transfer the issue.

[2022-01-25 14:39] stockholmux commented on #640
@dlvenable I see. Yeah, what you are saying makes sense.

This functionality exists in a very raw form currently (https://opensearch.org/artifacts#data-prepper) but what were you looking for would be more styled - something like a table? Something like:

| Package | Artifacts |
|-----|----|
|Data Prepper 1.0.0 | [x64 Docker] |
|Data Prepper 1.1.0 | [x64 Linux Tar] [x64 Docker] |

This would have i

[2022-01-25 16:11] getsaurabh02 commented on #549
Hi @stockholmux I have got the content ready. Working on getting content converted to Jekyll Post to get the PR out. We also have a demo video along with the content. Wondering if you have any guidance on adding a video to the post.

[2022-01-25 21:03] dlvenable commented on #640
Yes, I think a table like you have will work.

If I follow you yes. I think the current Data Prepper download section (block?) in the current downloads page would have this link.

[2022-01-26 17:56] pakshi commented on #647
[BYOK for B2B SaaS Companies- Solution Brief.pdf](https://github.com/opensearch-project/project-website/files/7944073/BYOK.for.B2B.SaaS.Companies-.Solution.Brief.pdf)

@elfisher Attaching a PDF.

[2022-01-27 14:24] stockholmux commented on #623
closed by #639

[2022-01-27 14:24] #623 closed

[2022-01-27 14:25] #619 closed

[2022-01-27 20:30] pakshi commented on #647
[BYOK for B2B SaaS Companies- Solution Brief.pdf](https://github.com/opensearch-project/project-website/files/7953600/BYOK.for.B2B.SaaS.Companies-.Solution.Brief.pdf)

@elfisher, I  am attaching a copy of the document in PDF form. I am happy to share the Google doc to your email so that you can add your edit suggestions and comments in place.

[2022-01-28 18:54] zhongnansu opened #654 "Add a section for OpenSearch SQL CLI on Downloads/Getting Started page."
Add a section for OpenSearch SQL CLI on [Downloads/Getting Started page](https://opensearch.org/downloads.html#opensearch). It could be
- brief descriptive words for this cli tool
- links to Pypi https://pypi.org/project/opensearchsql/
- command to install `pip install opensearchsql`

[2022-01-31 17:32] stockholmux commented on #429
Closed by #635

[2022-01-31 17:32] #429 closed

[2022-01-31 20:57] pakshi commented on #647
@elfisher any guidance on how to proceed further?

[2022-02-01 22:26] stockholmux commented on #645
Closed by #662

[2022-02-01 22:26] #645 closed

[2022-02-02 14:00] elfisher commented on #647
Hey @pakshi thanks for attaching the brief. This makes sense. Let's work with @stockholmux to figure out when we can get this on the calendar. Also is it easier to do the review on a shared Google doc or on GitHub?

[2022-02-02 14:51] stockholmux commented on #661
I recall @jcgraybill was working on something like this.

[2022-02-02 16:57] stockholmux commented on #612
Closed by #663

[2022-02-02 16:57] #612 closed

[2022-02-04 18:17] zhongnansu commented on #654
@stockholmux Hi Kyle, what's the plan of adding this?

[2022-02-04 22:21] nateynateynate opened #665 "[BUG] ODFE docker-compose.yml refers to wrong version of Kibana."
**Description**

The docker-compose.yml file linked to on https://opendistro.github.io/for-elasticsearch/  has a typo. The `kibana:` subsection lists the docker image: (amazon/opendistro-for-elasticsearch-kibana:1.13.3) which doesn't exist. It was suggested in https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/793 to change to `latest` which worked just fine for me.

**To Repr

[2022-02-04 23:03] nateynateynate commented on #665
My apologies - I misfiled this under the wrong repo. Will re-file.

[2022-02-04 23:03] #665 closed

[2022-02-05 14:47] jcgraybill commented on #661
Yes, the current policy is straightforward - all maintenance and development work is performed against the latest version (which today is OpenSearch 1.2.4 and OpenSearch Dashboards 1.2.0). The project follows follows [the semantic versioning specification](https://opensearch.org/blog/technical-post/2021/08/what-is-semver/) (https://opensearch.org/blog/technical-post/2021/08/what-is-semver/) for as

[2022-02-07 14:10] dblock commented on #628
I still have this queued up. If it gets long, will shorten/split.

I collected the kitchen sink of related issues here, so we shall see what makes this into an actual release and obviously won't be talking about things that didn't/won't.

[2022-02-07 14:34] stockholmux commented on #661
I tend to agree with @dblock here and might go a step further. It would be good to have a simple URL (e.g. opensearch.org/supported-versions) to point to that tells the simplest story:
- semantic versioning
- currently supported version
- where feature are being added

For example, I always find myself looking at the [Node.js releases page](https://nodejs.org/en/about/releases/). Node.js has a mod

[2022-02-07 14:36] stockholmux commented on #628
Sounds good @dblock. If this is tied to a release beyond the next one, I think might be wise to close the issue and reopen when we get closer.

[2022-02-07 23:11] stockholmux commented on #383
closed by #669

[2022-02-07 23:11] #383 closed

[2022-02-08 17:44] dblock commented on #628
I've started drafting a blog post, please contribute!

https://github.com/opensearch-project/project-website/pull/670

[2022-02-08 18:22] brijos opened #671 "FluentD Formal Announcement Targeting Feb 10"
Draft targeted EOD Feb 8th...

**Describe the blog post your would like to write**
Formally announcing FluentD availability with a short Getting Started write up

**What is the title of the blog post?**
TBC

**Who are the authors?**
TBC (likely Anurag Gupta, Tim Stephens, Nate Boot)

**What is the proposed posting date?**
Feb 10

[2022-02-08 21:05] getsaurabh02 commented on #549
Hi @stockholmux Could you please verify the PR  https://github.com/opensearch-project/project-website/pull/664 if it looks good and help with the next steps here.

[2022-02-09 15:13] stockholmux commented on #549
@getsaurabh02 FYI-  there was a review yesterday.

[2022-02-10 00:45] nateynateynate opened #675 "[Blog] Some kind of intro to OpenSearch"
**Describe the blog post your would like to write**

I hope to provide a blog that offers an introduction to OpenSearch that requires no prior knowledge whatsoever.  It will be meant for people who aren't quite sure what it does. It will include how it can supplement workflows, and some of the more popular use cases for which it is proficient.

And a quick call to action for community contribution

[2022-02-10 15:49] slavafomin opened #679 "Missing documentation for supported types (index mapping types)"

[2022-02-10 17:16] dblock opened #678 "Create one place for community projects around OpenSearch"
**Is your feature request related to a problem? Please describe.**

It's hard to find 1) what projects are built around or connect to OpenSearch, and 2) what projects need help connecting to OpenSearch.

**Describe the solution you'd like**

I'd like something similar to https://api.slack.com/community where all the community projects that connect to or are built around OpenSearch are catalogued (

[2022-02-10 21:26] jkowall commented on #678
I think it actually belongs here potentially, but this page also needs to be linked better: https://opensearch.org/connect.html

[2022-02-11 14:18] elfisher commented on #678
There is the [community project page](https://opensearch.org/community_projects) on the website that aims to help with problem 1. Definitely opportunities to improve that page.

Do we also want to highlight projects that need help on that page? We already use the forums/GitHub to discuss issues and plan new work. We could create a place to track new projects in GitHub and highlight which ones want

[2022-02-11 14:33] stockholmux commented on #678
I'm with @elfisher here. The community projects page is the way to go.

I think adding some filtering (and maybe more fields) would help achieve what @dblock is looking for without wheel recreation.

[2022-02-11 14:49] stockholmux commented on #654
@zhongnansu Currently backlogged as we have some other pressing matters, but we'll get to it.

[2022-02-11 16:49] krisfreedain commented on #678
I would agree with @stockholmux & @elfisher - continuing to build out the existing Community Projects page with filtering would be the way to accomplish this.

[2022-02-14 21:56] dblock commented on #678
The existing page is great as an advertisement for these higher level applications. For a developer audience I think we need a dedicated page sorted by language/platform.

[2022-02-15 17:04] stockholmux commented on #675
I'm going to close this but I believe that @dblock  left some feedback on #690 that I couldn't easily address in your absence, @nateynateynate.

Feel free to do another PR to address that feedback as needed - remember just because the b log post is published doesn't mean it's immutable. The website is software and software evolves.

[2022-02-15 17:04] #675 closed

[2022-02-15 22:19] dblock opened #694 "Solving flakey integration tests in OpenSearch"
**Describe the blog post your would like to write**

We've inherited at least [27 known flakey integration tests](https://github.com/opensearch-project/OpenSearch/labels/Flakey%20Random%20Test%20Failure) that constantly need to be retried by doing `start gradle check`'s. This blog post will call attention to this problem, highlight how some of these tests are being fixed, e.g. https://github.com/o

[2022-02-15 22:36] andrross commented on #694
opensearch-project/OpenSearch#1925 is an example of a non-deterministic test bug that had a simple fix but took a lot of effort to track down

[2022-02-16 14:25] stockholmux commented on #694
Hey @dblock - is fixing the tests part of a campaign? If so what's the timeline on that campaign?

[2022-02-17 16:43] stockholmux commented on #549
Closed by #697

[2022-02-17 16:43] #549 closed

[2022-02-17 19:29] elfisher commented on #678
We could improve that page to highlight those characteristics and create a search/filter function on those characteristics.

[2022-02-18 01:01] pakshi commented on #647
Kyle,
I have the MD file... Should I just attach it here?
Also I have referred to image src like this:
 (/assets/media/blog-images/2022-02-18-partner-highlight-titaniam/xyz.png)

 But I am unable to create a folder and upload the image...
![image](https://user-images.githubusercontent.com/7464106/154597132-5c4c1165-445a-4bec-93fc-c1e7f0e128d6.png)

Should I just create a zip file with the followin

[2022-02-18 02:52] pakshi commented on #647
Kyle,
I have attached the Markdown file and the one image it refers to as a zip file.
You would have to create a folder here with this path and drop the image there.
/assets/media/blog-images/2022-02-18-partner-highlight-titaniam/

Please let me know if this will suffice? Thanks for your help.

[2022-02-17-partner-highlight-titaniam-byok.zip](https://github.com/opensearch-project/project-website/f

[2022-02-18 21:52] stockholmux commented on #671
closed by #686

[2022-02-18 21:52] #671 closed

[2022-02-19 00:55] pakshi commented on #647
Created PR:
https://github.com/opensearch-project/project-website/pull/701

[2022-02-22 16:52] asafm commented on #446
I have a general question here. Don't you prefer to have this blog post content be added as official documentation for Open Search? I couldn't find under Open Search any documentation for how the Plugin system works.

[2022-02-22 16:56] saratvemulapalli commented on #446
@asafm if you think that helps we would be more happy to publish the content in our documentation.
Do you mind opening an issue in https://github.com/opensearch-project/documentation-website?

[2022-02-22 17:47] pakshi commented on #647
@stockholmux
Is this what you were expecting as for how content should be delivered?

[2022-02-22 18:22] stockholmux commented on #647
Hey @pakshi - yep - that's more/less the right format.

[2022-02-24 14:23] asafm commented on #446
@saratvemulapalli https://github.com/opensearch-project/documentation-website/issues/426 Thanks!

[2022-03-02 19:10] dreamer-89 opened #709 "Remove mapping type"
As part of v2.0 release, `mapping types` are getting removed from OpenSearch engine. Below are the changes in the opensearch-engine.
- Removal of type from rest end-points
- Removal of include_type_name parameter from API requests.

As part of this issue, please verify if type removal change on OpenSearch engine impacts this repository. If yes, then please remove the type references/usage from doc

[2022-03-02 20:41] stockholmux commented on #709
@dreamer-89 I don't think this affects the opensearch.org website :)

[2022-03-02 20:41] #709 closed

[2022-03-04 20:49] nateynateynate opened #711 "[BLOG] Fine Dining for Indices"
**Describe the blog post your would like to write**

This blog will cover the options available to fine tune an index as well as the API calls necessary to manipulate them.

**What is the title of the blog post?**

Fine Dining For Indices

**Who are the authors?**

nateboot

**What is the proposed posting date?**

2022-03-07

[2022-03-10 21:41] tianleh opened #715 "[Blog] write a blog about the launch of using "latest" in distribution urls"
**Describe the blog post your would like to write**

We support using "latest" keyword in the distribution url.
https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.3.0/latest/linux/arm64/builds/opensearch/manifest.yml

As a contrast, previously we have to provide a Jenkins build number (e.g 1210)
https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.3.0/1210/linux/arm64/bui

[2022-03-11 15:08] stockholmux commented on #715
Hey @tianleh - I like it.

I think you'll need to setup the reason why this is important in the blog post. Average user of OpenSearch is probably not super familiar with distribution URLs.

Let me know how I can support!

[2022-03-14 16:57] dblock opened #718 "Add release pages for the next release of OpenSearch with "latest" links."
**Is your feature request related to a problem? Please describe.**
As a developer I often use the latest build of OpenSearch-min, or a plugin. The URLs are difficult to discover. It was difficult to add an index page because the numbers are changing with every build, but now we have support for "latest" in the URLs.

**Describe the solution you'd like**
Add a page for the next release(s) that cont

[2022-03-16 13:51] stockholmux commented on #718
This is an interesting idea. Do you see this as extension of the download page or something else entirely?

[2022-03-16 13:54] stockholmux commented on #678
Revisiting this issue. I'm glad to work with anyone who can come up with a reasonable taxonomy to support filtering on the existing community projects page.

[2022-03-22 04:59] brijos opened #733 "Fluent Bit 1.9 Announcement"
**Describe the blog post your would like to write**
An update that Fluent Bit 1.9 was released and a short Getting Started Guide

**What is the title of the blog post?**
Getting started with Fluent Bit and OpenSearch

**Who are the authors?**
Anurag Gupta

**What is the proposed posting date?**
3/24/2022

[2022-03-22 22:15] guiangumpac opened #737 "OpenSearch Plugin artifacts for 1.0.x"
**Is your feature request related to a problem? Please describe.**
We are trying to run integration tests for the [OpenSearch Net client](https://github.com/opensearch-project/opensearch-net). We were able to find plugin artifacts for OpenSearch version >= 1.1.0 but not for 1.0.x. For example, 1.2.0 integration tests passes because https://artifacts.opensearch.org/releases/plugins/mapper-murmur3/1

[2022-03-23 04:41] anirudha commented on #737
@stockholmux @bbarani can someone help here, thanks

[2022-03-24 16:14] stockholmux commented on #737
I'm absolutely interested in adding the clients to the downloads page but the download webpage isn't blocking you here.

Perhaps this question belongs in the [opensearch-project/build](https://github.com/opensearch-project/opensearch-build)?

[2022-03-24 16:15] stockholmux commented on #737
@bbarani thoughts?

[2022-03-24 16:21] bbarani commented on #737
@guiangumpac We started [publishing](https://github.com/opensearch-project/opensearch-build/issues/86) the native plugins starting 1.1.0 version. You can use the alternative approach listed [here](https://github.com/opensearch-project/OpenSearch/issues/951#issuecomment-878482124) for previous versions.

[2022-03-24 16:28] guiangumpac commented on #737
@anirudha, @stockholmux, and @bbarani thanks for your input!

[2022-03-24 16:28] #737 closed

[2022-03-24 19:55] brijos commented on #733
The blog post was launched.  Closing.

[2022-03-24 19:55] #733 closed

[2022-03-25 20:42] eugenesk24 opened #740 "Release Manager Blog Post"
**Describe the blog post you would like to write**
This blog post will be about being release manager for the first time in OpenSearch and the mistakes I made and the things I learned.

**What is the title of the blog post?**
Day in the Life of a Release Manager

**Who are the authors?**
@eugenesk24
@stockholmux

**What is the proposed posting date?**
As soon as possible.

[2022-03-29 15:48] stockholmux commented on #740
Hey @eugenesk24 - the quip link you posted isn't accessible to the general public and doesn't belong on github.

[2022-03-29 16:43] eugenesk24 commented on #740
My bad! I removed it 👍

[2022-04-11 22:59] pakshi commented on #647
PR #701

[2022-04-12 19:11] nereo-campos-pi opened #762 "Pureinsights adds OpenSearch to its Discovery Platform - Blog Post"
**Describe the blog post your would like to write**
We are pleased to announce that OpenSearch will be the default search engine of choice for the [Pureinsights Discovery Platform](https://pureinsights.com/technology/).

**What is the title of the blog post?**
Partner Highlight: Pureinsights adds OpenSearch to its Discovery Platform

**Who are the authors?**
Phil Lewis

**What is the proposed post

[2022-04-21 14:07] stockholmux opened #772 "RPM on downloads page"
**Is your feature request related to a problem? Please describe.**
Downloads page for version 1.3.2 (and forward) will need to support RPM for:
- OpenSearch (bundle)
- OpenSearch Dashboard (bundle)

**Describe the solution you'd like**

For platform **Linux**

Add additional package type **RPM** and **yum**

This will result in the "Package" dropdown adding:
- x64 / RPM - downloadable file, link t

[2022-04-22 20:56] stockholmux commented on #628
closed by #744

[2022-04-22 20:56] #628 closed

[2022-04-22 21:17] stockholmux commented on #740
@krisfreedain FYI - just so this doesn't get list. @eugenesk24 shared this privately - please work together to get a PR made.

[2022-04-22 21:18] stockholmux commented on #762
Closed by #774 & #775

[2022-04-22 21:18] #762 closed

[2022-04-22 21:19] stockholmux commented on #715
@tianleh Any word on this post?

[2022-04-22 21:21] stockholmux commented on #415
@giocollina I'm going to close this as stale after many months of inactivity. If you get around to putting Mermaid in a PR, feel free to reopen.

[2022-04-22 21:21] #415 closed

[2022-04-22 21:23] stockholmux commented on #772
Dependent on #776

[2022-04-22 21:23] stockholmux commented on #229
Closed by #1219

[2022-04-22 21:23] #229 closed

[2022-04-22 21:25] stockholmux commented on #328
This has been addressed in https://github.com/opendistro/for-elasticsearch#186

[2022-04-22 21:25] #328 closed

[2022-04-22 21:27] stockholmux commented on #355
Closed by #385

[2022-04-22 21:27] #355 closed

[2022-04-22 21:36] stockholmux opened #777 "[BUG] Revise FAQ"
**Describe the bug**

https://opensearch.org/faq/#q3.29 states that:
[code]

This is a change from a recent decision regarding version compliance. The faq entry should be revised to match this decision and make it clear why the change was made.

**Expected behavior**
FAQ matches the decision.

[2022-04-27 19:20] tianleh commented on #715
@stockholmux Thanks for following up on this. Still trying to figure out the process.

[2022-04-28 17:54] pakshi commented on #647
Thanks everyone for your help.
https://opensearch.org/blog/partners/2022/04/partner-highlight-titaniam-byok

[2022-04-28 17:54] #647 closed

[2022-05-02 20:44] dtaivpp opened #788 "Update Gemfile to work for Apple silicon"
**Is your feature request related to a problem? Please describe.**
At the moment there is not a clear way to get the project working on Apple silicon.

**Describe the solution you'd like**
I would like the Gemfile to be updated to reflect the steps needed to get it running on Apple silicon

**Describe alternatives you've considered**
I looked into adding this into the documentation however that re

[2022-05-10 16:51] krisfreedain commented on #740
@eugenesk24 - let me know when you have time so we can work on this one. thanks

[2022-05-10 20:13] nateynateynate opened #804 "[Blog] The start of a short story about my use of OpenSearch here at work."
**Describe the blog post your would like to write**

I've been adding intent tags to topics in our OpenSearch forums in hopes of seeing what current trends are. It's a small journey with OpenSearch that I'd like to share that isn't a typical use case. This first will be about performing manual counts of the tags in each category they appear in and on which topics.

Also a call to action to have pe

[2022-05-10 21:03] brijos opened #805 "FluentCon Announcement"
**Describe the blog post your would like to write**
Introduce FluentCon EU and OpenSearch's sponsorship

**What is the title of the blog post?**
FluentCon Announcement

**Who are the authors?**
Anurag Gupta

**What is the proposed posting date?**
05/11/2022 or 5/12/2022

[2022-05-11 21:11] krisfreedain commented on #805
Completed with https://github.com/opensearch-project/project-website/pull/809

[2022-05-11 21:11] #805 closed

[2022-05-17 19:02] joshuali925 opened #816 "Display drivers on downloads page"
**Is your feature request related to a problem? Please describe.**
We recently released the ODBC drivers (https://github.com/opensearch-project/project-website/pull/786), but on the [latest downloads page](https://opensearch.org/versions/opensearch-2-0-0-rc1.html) there is no drivers section, only OpenSearch and OpenSearch Dashboards. Users have to click on artifacts directory and scroll to the bo

[2022-05-17 19:10] nateynateynate opened #817 "[BLOG Idea] Making use of parent-child relationships in index mappings"
**Is your feature request related to a problem? Please describe.**

It looks like we still support using parent child relationships - we lack any kind of content for setting it up. Hoping someone from the community might see this and decide they'd like to write a blog article!

**Describe the solution you'd like**

We support using parent child relationships in our documents via index mappings, wh

[2022-05-19 05:47] brijos opened #819 "Introducing logstash-input-opensearch plugin for OpenSearch"
**Describe the blog post your would like to write**
An introduction to the new input plugin for OpenSearch with examples

**What is the title of the blog post?**
Introducing logstash-input-opensearch plugin for OpenSearch

**Who are the authors?**
Prashant Agrawal

**What is the proposed posting date?**
2022-05-19

[2022-05-26 13:06] dblock commented on #661
We now have an FAQ, https://opensearch.org/faq#q3.28, but we still need a support page that explains which versions are _currently_ supported and what their EOL is. I'm reopening this.

[2022-06-07 02:03] brijos opened #851 "[Blog] OpenSearch 2.0 Clients Released"
**Describe the blog post your would like to write**
Announcement of new clients released and recognition of those who helped along the way.

**What is the title of the blog post?**
OpenSearch 2.0 Clients Released

**Who are the authors?**
- jdbright
- vachshah
- ssayakci
- xtansia
- ananzh
- vemsarat
- vijay
- dblock

**What is the proposed posting date?**
2022-06-08

[2022-06-07 21:05] dtaivpp opened #853 "[BLOG] ISM Shrink Shard - Deep Dive"
**Describe the blog post your would like to write**
We should create a blog that covers the technical details of how to use the ISM Shrink Shard action, why someone would want to use it, and what they can expect when using it.

**What is the title of the blog post?**
TBD

**Who are the authors?**
Clay Downs (@downsrob) / David Tippett (@dtaivpp)

**What is the proposed posting date?**
6/24/2022

[2022-06-08 17:28] stockholmux opened #855 "How to use fluentbit and OpenSearch with Bottlerocket logs"
**Describe the blog post your would like to write**
This blog post will describe how to use Fluentbit to gather host container logs from Bottlerocket OS and then put them into OpenSearch to search and analyze.

**What is the title of the blog post?**
How to use fluentbit and OpenSearch with Bottlerocket logs

**Who are the authors?**
Kyle Davis

**What is the proposed posting date?**
July 15-ish

[2022-06-08 17:34] krisfreedain commented on #855
Looking forward to this one!

[2022-06-13 18:47] dtaivpp opened #861 "[BLOG] Building your first ML Model with ML Commons"
**Describe the blog post your would like to write**
There should a blog that describes end to end how to create, use, and update a ML Commons model in OpenSearch. This blog should show the surface level work that is required as well as describe what is happening behind the scenes.

**What is the title of the blog post?**
Building your first ML Model with ML Commons

**Who are the authors?**
@ylwu-

[2022-06-13 20:48] setiah opened #862 "Download OpenSearch and Dashboards images from Amazon ECR public gallery"
**Is your feature request related to a problem? Please describe.**
The OpenSearch project just made docker images for OpenSearch and OpenSearch Dashboards available on Amazon ECR public gallery. https://gallery.ecr.aws/?searchTerm=opensearchproject. The request is provide an option on the Downloads page, for users to download OpenSearch and Dashboards from Amazon ECR public gallery.

**Describe th

[2022-06-13 21:07] dtaivpp opened #863 "[Feature] Supporting alternative container registries"
**Is your feature request related to a problem? Please describe.**
At the moment we don't have a good way to share alternative container registry links (or tarball mirrors). We'd like to hear from the community about what options they would like to see regarding how that can be displayed on the webpage.

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
We could

[2022-06-14 13:26] dtaivpp commented on #853
https://github.com/opensearch-project/documentation-website/pull/657/commits/9020fdfb206c6028c37cfbb02a54ffe8ff3fe0cd#diff-1ab8395db79ee0a4853218fc8bb1413b961c7df49bf92c8e85879afdbd26cd28

Adding link to the new style guide.

[2022-06-14 20:06] dtaivpp commented on #853
@natebower Would you mind looking over this outline for a blog that Clay and I are working on? This isn't the exact wording for the sections but the basics for what we will cover and how we might lay it out.

# The Safest Way to Optimize OpenSearch's Shard Replication

##  What problems does this solve?
- Optimizing helps you get the most out of your cluster
- Why someone would want to shrink prim

[2022-06-14 20:39] dtaivpp commented on #853
@downsrob these are a few good blogs to look to for inspiration.

https://opensearch.org/blog/technical-post/2022/05/opentelemetry-metrics-for-data-prepper/
- Does a good job integrating the technical with why someone would want to use it

https://opensearch.org/blog/intro/2022/03/fine-dining-for-indices/
- This one has a lot of personality and has some fun delivering technical content

[2022-06-15 13:59] natebower commented on #853
@dtaivpp and @downsrob This looks good to me. Just a couple of comments, given that this is a preliminary outline: 1. Because we will have just described how to set up a policy, "How it works" is perhaps a little vague. How will what work? How will the content in this section differ from the content in the previous section? How are the sections related? I would be a little more clear regarding the

[2022-06-29 18:22] macrakis opened #879 "[BUG] Minor editorial fixes on Download & Get Started page"
**Describe the bug**
Various small editorial fixes for https://opensearch.org/downloads.html

**To Reproduce**
n/a

**Expected behavior**
"These steps will setup" => "These steps will set up" -- the verb "set up" is written as two words
"Setup your Docker host..." ditto
"OpenSearch provides SQL drivers like ODBC and JDBC, that let you..." remove comma before "that"
"driver for connecting business

[2022-06-30 18:34] dtaivpp commented on #863
Duplicate #862

[2022-06-30 18:34] #863 closed

[2022-06-30 20:33] setiah commented on #862
A few of us engaged on this proposal and discussed the problem with a couple of potential solutions. Penning down a summary for feedback/further discussion -

The **problem** with providing Amazon ECR public repository link as a download option on website is that ECR does not have image version specific URLs like DockerHub. For example, if a user wants to download a previous OpenSearch version say

[2022-06-30 21:08] dtaivpp commented on #862
After talking to a few other DevOps/Systems Engineers here is some of the feedback I have received:

Users should be able to expect the same experience regardless of which option they select. When selecting Linux they are not redirected off page to fetch the tarball or package. Additionally, ECR is unable to provide the same experience docker hub provides of linking directly to a release and there

[2022-07-01 20:22] AMoo-Miki commented on #862
This is what I had in mind. Please let me know how you feel with your 👍 and 👎
https://user-images.githubusercontent.com/3527403/176963059-eee5aa1c-c638-4b65-b5b4-f24c5be7e4da.mov

[2022-07-05 22:08] setiah commented on #862
thanks @AMoo-Miki for the quick turnaround. This looks good to me and it seems extensible in future for more repository types based out on GCP, Azure. etc. Let's see what others think about this. + @elfisher @ahopp @brijos thoughts?

[2022-07-08 17:51] dlvenable commented on #862
@AMoo-Miki , I like the concept you proposed above. The action of the "more info" link doesn't seem very obvious to me. Perhaps they could say "View on DockerHub" and "View on ECR" respectively.

[2022-07-12 19:44] elfisher commented on #862
I like the concept proposed as well. Especially @setiah's point about it being extensible for more repo types.

[2022-07-12 23:04] AMoo-Miki commented on #862
Since the only feedback has been positive, I will PR this.

[2022-07-13 18:19] brijos opened #902 "What’s new: Document-level monitors"
**Describe the blog post your would like to write**
A new feature blog on document level monitors.

**What is the title of the blog post?**
What’s new: Document-level monitors

**Who are the authors?**
Ashish Agrawal, Joshua Bright

**What is the proposed posting date?**
7/14

[2022-07-13 19:26] brijos commented on #902
Depends on https://github.com/opensearch-project/project-website/pull/903

[2022-07-14 22:41] #804 closed

[2022-07-14 22:43] nateynateynate opened #912 "[Blog] Part 2 of building a content compass"
**Describe the blog post your would like to write**
I started a story before I went on vacation about using OpenSearch as a Business Intelligence tool for our forum data. I've taken another step in this journey, and I'd like to share it.

**What is the title of the blog post?**

I could use some help with that, actually. I was thinking "Which way is the compass pointing?" as you'll see in the mark

[2022-07-15 22:04] setiah opened #913 "[Blog] What's new with Snapshot Management"
**Describe the blog post your would like to write**
Blog about the new Snapshot management feature in OpenSearch 2.1 and how to use the feature to automate snapshots of your data in OpenSearch cluster.

**What is the title of the blog post?**
tbd

**Who are the authors?**
tbd

**What is the proposed posting date?**
tbd

[2022-07-19 14:28] setiah opened #917 "Introducing OpenSearch Kubernetes Operator v2.0"
**Describe the blog post your would like to write**
Describes new features released in the latest version

**What is the title of the blog post?**
tbd

**Who are the authors?**
tbd

**What is the proposed posting date?**
tbd

[2022-07-19 23:13] krisfreedain opened #919 "Custom header for the forum"
We would like to add a custom menu to the [forum](https://forum.opensearch.org/) that matches the new drop-down header on the main opensearch.org website implemented on 7/19.

Our forum runs on the Discourse platform. We were able to find an available Discourse theme component 'Custom Header Links' that allowed our current top-nav menu to somewhat replicate the previous opensearch.org menu. We wou

[2022-07-19 23:13] krisfreedain commented on #919
CC @AMoo-Miki - thanks for your help on this!

[2022-07-24 14:55] prudhvigodithi opened #929 "OpenSearch Plugin zips in maven repo"
**Describe the blog post your would like to write**
The post describes information about OpenSearch PluginZips in maven.

**What is the title of the blog post?**
OpenSearch Plugin zips in maven repo

**Who are the authors?**
@prudhvigodithi

**What is the proposed posting date?**
7/29/2022

[2022-07-24 15:33] dtaivpp commented on #929
@prudhvigodithi is there an RFC or issue that could be linked here for context?

[2022-07-24 19:37] prudhvigodithi commented on #929
Hey @dtaivpp I have updated the comment with the linked issue.
Thank you

[2022-08-02 19:24] #912 closed

[2022-08-04 17:35] bbarani opened #938 "[BUG] Remove reference to ODFE artifacts from opensearch.org website"
**Describe the bug**
ODFE artifacts has reached EOL as per the blog on https://opendistro.github.io/for-elasticsearch/ but I still some references to ODFE artifacts on opensearch.org website

**To Reproduce**
Steps to reproduce the behavior:
Example: https://opensearch.org/faq#q2.3

**Expected behavior**
Remove references to ODFE artifacts on opensearch.org website

**Plugins**
Please list all plu

[2022-08-04 20:56] setiah commented on #862
Closing the issue since the work is done. Thanks everyone for contributing to this.

[2022-08-04 20:56] #862 closed

[2022-08-05 21:56] Yury-Fridlyand opened #939 "[FEATURE] Add OpenSearch Slack chat link to the website"
**Is your feature request related to a problem? Please describe.**
ODFE project has a Slack chat. It is still alive, but not referenced on OpenSearch. Sometimes chat is more convenient than a forum.

**Describe the solution you'd like**
- [ ] Add Slack link to the website
- [ ] Rename Slack server ODFE -> OpenSearch
- [ ] Invite developers, maintainers and contributors to discuss ongoing tasks the

[2022-08-08 16:16] krisfreedain commented on #938
thanks @bbarani - will work on it this week

[2022-08-08 18:52] krisfreedain commented on #938
@bbarani @CEHENKLE @elfisher @pajuric @jhmcintyre
There are a few areas of the FAQ that need updating, and I could use your input.

* https://opensearch.org/faq/#q1.1

*1.1* What is OpenSearch?

OpenSearch is a fully open source search and analytics suite. OpenSearch includes OpenSearch (derived from Elasticsearch 7.10.2) and OpenSearch Dashboards (derived from Kibana 7.10.2). OpenSearch is the ne

[2022-08-09 14:30] elfisher commented on #938
some recommendations

How about something more simple:

OpenSearch is a fully open source search and analytics suite. OpenSearch includes OpenSearch (derived from Elasticsearch 7.10.2), OpenSearch Dashboards (derived from Kibana 7.10.2), and a range of features like built-in security, anomaly detection, alerting, observability experiences, and more.

*do we want to include the option to email “[op

[2022-08-09 15:42] krisfreedain commented on #938
Perfect. thank you for the input @elfisher

[2022-08-09 23:46] #938 closed

[2022-08-09 23:46] krisfreedain commented on #938
closed in https://github.com/opensearch-project/project-website/pull/941

[2022-08-12 18:20] krisfreedain commented on #939
Hello @Yury-Fridlyand - we appreciate the idea. There is talk going on to add a public Slack for the OpenSearch community but that's all the details I have for now.

[2022-08-22 23:20] brijos opened #961 "Client Ingestion Survey Results"
**Describe the blog post your would like to write**
In July 2022, we conducted a survey asking what ingestion agents are used within the community's ingestion pipeline. The post is to provide the results of that survey.

**What is the title of the blog post?**
Agent Ingestion Usage in OpenSearch Survey Results

**Who are the authors?**
jdbright

**What is the proposed posting date?**
8/23/2022

[2022-08-26 17:56] peterzhuamazon opened #968 "Add new blog on how to add new distribution for OpenSearch/Dashboards"
Add new blog on how to add new distribution for OpenSearch/Dashboards.

Using experience in RPM/Windows to inform and encourage the community to contribute more distribution to the project.

I will start a blog post later.

[2022-08-26 18:02] #740 closed

[2022-08-30 18:35] krisfreedain commented on #961
Blog is out! https://opensearch.org/blog/technical-post/2022/08/Agent-Ingestion-Usage-In-OpenSearch-Survey-Results/

[2022-08-30 18:35] #961 closed

[2022-09-01 15:08] nateynateynate opened #971 "[FEATURE] Display latest 1.x version next to the latest 2.x version on the homepage."
**Is your feature request related to a problem? Please describe.**

If we're going to maintain two lines of release, let's display  the latest 1.x release along with the latest 2.x release version on the homepage.

![image](https://user-images.githubusercontent.com/96254688/187948357-9ea9a779-0de5-4786-8558-bd0dc8b29b71.png)

**Describe the solution you'd like**
Just a quick forward slash with the

[2022-09-06 19:43] hdhalter commented on #879
Can we also provide some introductory information to the page? Something like,  "To get started with OpenSearch, download the OpenSearch software appropriate for your environment, then go to the _Install and Configure OpenSearch_ documentation to configure OpenSearch. We also provide a variety of tools and drivers to support your OpenSearch installation. To get up and running quickly, try out Open

[2022-09-06 20:36] dtaivpp commented on #879
@hdhalter I agree that we probably need some more introductory information but that may be best done when we revamp the remainder of the page. There is a fairly big initiative to get it overhauled so that it hits better with the appropriate audiences. Hopefully we can get a proposal together in the next few weeks for that.

@macrakis let me take a look at that. I am not sure where all that lives e

[2022-09-06 20:48] dtaivpp commented on #879
@macrakis can you look over these changes and make sure they all seem correct?

[2022-09-09 16:08] #879 closed

[2022-09-12 15:45] davidlago opened #983 "Blogpost about new security issue response process"
**Describe the blog post your would like to write**
A short blogpost to announce the PR about the new security issue response process.

**What is the title of the blog post?**
TBD (

**Who are the authors?**
Dave Lago

**What is the proposed posting date?**
9/16

[2022-09-12 17:16] #902 closed

[2022-09-12 17:17] brijos opened #986 "[BLOG] SQL search relevance, selective aggregation, and window functions in OpenSearch"
**Describe the blog post your would like to write**
Blog detailing the SQL functions such as search relevance, selective aggregation, and windows recently added in OpenSearch.

**What is the title of the blog post?**
SQL search relevance, selective aggregation, and window functions in OpenSearch

**Who are the authors?**
brijos, dai-chen

**What is the proposed posting date?**
9/12/2022

[2022-09-13 02:16] Yury-Fridlyand commented on #986
The blog post should refer to new SQL documentation for relevance search - in progress in https://github.com/opensearch-project/documentation-website/pull/1111.

[2022-09-13 02:20] Yury-Fridlyand commented on #354
I run these commands before starting OpenSearch docker images (Win 11 + WSL2)
[code]
Note: these config changes don't persist reboot.

[2022-09-14 23:57] hdhalter opened #999 "[BUG] No default font size on web pages"
**Describe the bug**
The main pages of the website don't have a default font setting, so if you have modified font settings on your browser, the font sizes across the website will be different. This causes a bad experience because it should be consistent as you move across the site.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your browser settings and change the font size and/or zo

[2022-09-16 18:14] #983 closed

[2022-09-24 08:11] vimalMK commented on #654
Is this issue still open? I will be interested to look into it.

[2022-09-24 22:22] zhongnansu commented on #654
I think it's still open. We'd love to see your proposed change or PR!
 @stockholmux could you involve documentation team to help or guide?

[2022-09-25 19:05] vimalMK commented on #654
@zhongnansu  Great! Thank you.

I just need some descriptive words for this cli tool. I can PR once I get that. Thank you again.

[2022-09-26 23:04] ahopp opened #1019 "[BLOG] OpenSearch Playground Launch Announcement"
**Describe the blog post your would like to write**
We want to provide a quick launch highlight for the OpenSearch Playground site. More specifically, the OpenSearch Playground provides a central location for existing and evaluating users to explore OpenSearch and OpenSearch Dashboards’ new and existing features without installation or download.

We are also drafting a more technical blog highligh

[2022-09-26 23:46] brijos opened #1020 "[Blog] What’s new: Custom GeoJSON"
**Describe the blog post your would like to write**
* A quick overview of the GeoJSON format standard defined in [RFC7946](https://www.rfc-editor.org/rfc/rfc7946) (https://www.rfc-editor.org/rfc/rfc7946).
* An overview of how to create a custom GeoJSON region map.

**What is the title of the blog post?**
What’s new: Custom GeoJSON

**Who are the authors?**
Vijayan “Vijay” Balasubramanian, Shivam D

[2022-09-29 22:11] nateynateynate opened #1034 "[Feature] Carousel on homepage scrolling through testimonials from customers."
**Is your feature request related to a problem? Please describe.**

Wanted to spiff up the home page, so I wanted to start a carousel type widget that I could pass specific frontmatter to to have it carousel testimonials and cool facts about the project.

**Describe the solution you'd like**

Something that goes into the Jekyll `_includes` folder specifically designed to create a classic "carousel

[2022-09-29 23:34] nateynateynate commented on #1034
Something like this: https://github.com/nateynateynate/project-website/tree/1034-carousel

[2022-09-30 18:23] nateynateynate opened #1037 "[BLOG] A closer look at the increased zoom level feature"
**Describe the blog post your would like to write**

Let's demonstrate what increasing the zoom levels in our maps visualization can really do. Compare the old and busted to the new hotness.

**What is the title of the blog post?**

A look at the new increased zooming abilities of the map visualization.

**Who are the authors?**

@nateynateynate and wh omever else wants to help.

**What is the pro

[2022-09-30 21:50] nateynateynate opened #1038 "[UX] Remove max-width setting of .container class to take advantage of screen real estate."
**Is your feature request related to a problem? Please describe.**
No how big your monitor or your browser window is, the content of the site will never take up more than 1400px due to the CSS setting of `max-width: 1400px` on the `container` css class.

**Describe the solution you'd like**

Remove the one line of CSS that restricts our content width to 1400px.

**Additional context**

I used the

[2022-10-03 16:56] #1019 closed

[2022-10-03 20:47] #1034 closed

[2022-10-03 20:50] nateynateynate opened #1042 "Remove Download Button at bottom of homepage"
**Is your feature request related to a problem? Please describe.**

Removing the "Download" button at the bottom of the homepage to add a quick header introducing the testimonial carousel.

**Describe the solution you'd like**

Remove download button, replace with quick section of text with something like, "Hear what people have to say about OpenSearch"

**Describe alternatives you've considered**

[2022-10-04 16:09] nateynateynate commented on #999
Can confirm. Computed styles put one page at 1.8em for font size and the other at 1.

I'll trace the CSS back up to see where that's getting overridden and see if I can fix that for you.

Thanks for pointing it out @hdhalter !

[2022-10-04 20:03] nateynateynate opened #1046 "[BUG] Our homepage isn't using Open Sans anymore."
**Describe the bug**

It looks like we added some SASS imports to our site at some point, and some of those mix-ins have overriden the font on our homepage with something called "Noto Serif" - this should be a sans-serif font, preferably the "Open Sans" that we used to pride ourselves on using.

**To Reproduce**

Visit site homepage - notice serif font. Open developer console to view the computed

[2022-10-04 20:05] nateynateynate commented on #1046
The `body` element is using the class `homepage` which seems to be what makes it inherit that set of stylings. I'm not an expert on  SASS, but we may be able to remove that mix in entirely.

[2022-10-04 20:07] nateynateynate commented on #999
I have filed #1046 which might be related - at some point we overrode our Open Sans font and font-size defaults and no one really noticed.

[2022-10-05 18:41] vimalMK commented on #654
@zhongnansu  PR added for review #1051 . Thank you

[2022-10-05 18:46] nateynateynate commented on #1042
Merged! Thanks!

[2022-10-05 18:46] #1042 closed

[2022-10-05 18:50] nateynateynate opened #1052 "Reduce the URL signature of blogs."
**Is your feature request related to a problem? Please describe.**

Our URL structure for blogs is a little elongated. Remove the date components from the URL for our blog posts to leave it as just `/blog/blogtitle`

**Describe the solution you'd like**

A one line change to Jekyll's `_config.yml` to have a new permalink value should do the trick.

This introduces one issue - we have a community m

[2022-10-05 19:53] ps48 opened #1054 "Update Querqy Documentation for 2.3.0 release"
**Is your feature request related to a problem? Please describe.**
The current documentation for Querqy Plugin on [OpenSearch website](https://opensearch.org/docs/latest/search-plugins/querqy/index/) is not up to date.

**Describe the solution you'd like**
The installation steps for Querqy are much more simpler now with Querqy being released for 2.3.0. As seen [here](https://docs.querqy.org/querqy

[2022-10-06 16:45] ariamarble commented on #1054
Updated for 2.3 ~ https://github.com/opensearch-project/documentation-website/pull/1451

[2022-10-07 03:15] OyaleSalami commented on #1038
Hello, please assign me this task. Thanks

[2022-10-10 07:55] rursprung opened #1070 "[BUG] non-standard quote characters used in some documents"
**Describe the bug**
just a minor thing i noticed while working with the files on the console:

the standard quote characters should be `"` and `'` and the latter should also be used to shorten words (e.g. "don't"). some editors (namely e.g. MS Word) automatically convert these to language-specific - and often left/right specific - symbols and it seems that some of them have snuck into the files i

[2022-10-11 16:35] nateynateynate commented on #1070
This is a good find, @rursprung. I can confirm your findings. We'll have to get our reviewers to keep a closer eye on that, although I have to admit I don't have any strong feelings about it. Either way, we should choose what side of the fence we're on. Ideally we should make everything non language specific.

[2022-10-11 16:50] nateynateynate opened #1073 "Link to the Playground."
**Is your feature request related to a problem? Please describe.**

We want to draw people to the playgrounds to try our stuff out.

**Describe the solution you'd like**

We should add a quick link on the upper navbar to link to the playground that says, "Live Demo!" or "Try it out!"

[2022-10-11 17:03] krisfreedain commented on #1073
You are ON IT! Thanks for opening this @nateynateynate

[2022-10-11 19:41] AbhishekTiwari23 commented on #1073
I am ready to contribute. Please assign.

[2022-10-12 17:22] vimalMK commented on #1073
@nateynateynate Trying to understand the process here. Can we just create a PR for this issue or wait for an approval(get assigned) to start working on it ?

[2022-10-13 03:19] vagimeli commented on #968
@peterzhuamazon I've completed the technical writer review. Please see my edits and comments and reach out if we need to discuss my edits or recommended changes.

[2022-10-14 18:29] peterzhuamazon commented on #968
Thanks @vagimeli I will take a look and make the changes you suggested.

After that I assume I can raise a PR?
Thanks.

[2022-10-15 05:08] vimalMK commented on #1038
@nateynateynate @OyaleSalami  is anyone working on this or can create a PR for this issue?

[2022-10-17 15:41] nateynateynate opened #1084 "[BLOG] Are you asking the right question?"
**Describe the blog post your would like to write**

I'd like to post a blog to address a few things -

1. I want to reduce the number of questions that show up in the forums that aren't actionable due to lack of information.
2. I want to make sure that people know the difference between the forums and github and the documentation and what information they will find / can provide there.
3. How to

[2022-10-18 18:54] vagimeli commented on #968
Yes, you can raise it to a PR. I'll approve my review in the PR too. Thanks!

[2022-10-21 01:43] peterzhuamazon commented on #968
Hi @vagimeli @bbarani,

New blog post PR is here:
* https://github.com/opensearch-project/project-website/pull/1093

Please let me know if there is anything needed.

Thanks,
Peter

[2022-10-21 03:03] peterzhuamazon opened #1094 "Add Jekyll Build Github Actions Check and Remove Old DCO Checks"
Hi,

The old dco check for the PR is not needed any more as it is replace by the DCO app.
![image](https://user-images.githubusercontent.com/65193828/197101513-626d081f-b079-46f6-b54e-194049b10312.png)

We can also add proper jekyll testing.
At start we can just add a jekyll build run to ensure at least everything can be built before failing the staging pipeline.

I will send a PR on this soon.
Th

[2022-10-21 03:07] peterzhuamazon commented on #1094
PR:
* https://github.com/opensearch-project/project-website/pull/1095

[2022-10-24 20:39] nateynateynate commented on #1084
Published. All set.

[2022-10-24 20:39] #1084 closed

[2022-10-24 20:40] nateynateynate opened #1099 "Install Google Analytics onto project website."
**Is your feature request related to a problem? Please describe.**

Create a google analytics account and include the appropriate snippet on the bottom of our homepage layout.

**Describe the solution you'd like**

We just need an inclusion on every single page.

[2022-10-25 23:09] rockybean opened #1108 "[Blog for Hacktoberfest] First Bite of OpenSearch Segment Replication"
Hi Team,

Just publish a blog about `Segment Replication` and wish to be tagged with `Hacktoberfest`.

Please help to review and much appreciated~

https://medium.com/@rockybean/first-bite-of-opensearch-segment-replication-b22d0808e4c9

[2022-10-26 05:17] vimalMK commented on #1073
@krisfreedain  @nateynateynate does something like this works

![image](https://user-images.githubusercontent.com/35750792/197941064-0965c97e-f291-4fdf-9dce-40ea53fd8fef.png)

[2022-10-26 05:24] vimalMK commented on #1073
PR #1109

[2022-10-26 15:01] iamujjwalrawat commented on #817
@nateynateynate I am interested in contributing by writing a blog on it.

[2022-10-26 15:52] nateynateynate commented on #1073
Thanks @vimalMK ! This looks fine to me - it's all we needed. Sorry I missed out on all the mentions - I need some email rules for those.

[2022-10-26 16:45] vimalMK commented on #1073
@nateynateynate No worries!  And thank you :)

[2022-10-26 17:03] nateynateynate commented on #1073
@ahopp - I wanted to get your input on this one, as I do recall there being some kind of discourse about placement. I personally would rather have a link there at the top sooner rather than later. When more features are added to the playgrounds, it will give us a good reason to blog and tweet and get people checking back again. What do you think?

[2022-10-26 18:11] nateynateynate commented on #817
Awesome @iamujjwalrawat ! Thanks for wanting to help everyone out!

You and I might actually be able to work together in another helpful way here - from what I can tell, our contribution.md document doesn't really cover any particular process for submitting a blog. It needs to. If you're interested in contributing a blog, let's you and I work through the process here so that we can clarify it for

[2022-10-26 19:23] iamujjwalrawat commented on #817
@nateynateynate Can you assign a topic for the blog as I don't know much about it?
In my opinion, It would be much better to work on your assigned interest.

[2022-10-26 20:01] nateynateynate commented on #1099
Worked around.

[2022-10-26 20:01] #1099 closed

[2022-10-26 20:52] nateynateynate opened #1115 "[FEATURE] Momentum stats carousel."
**Is your feature request related to a problem? Please describe.**

In September at OpenSearchCon, we shared a number of impressive metrics around the project. We need to highlight these publicly on the website. Evaluate proper placement; idea - near top of right-hand side bar- Evaluate responsibility and cadence for updating (once a month? once a quarter?)

**Describe the solution you'd like**

S

[2022-10-26 21:09] ahopp commented on #1073
@nateynateynate Thanks for the ping! I think it's as good a place to start as any.

I think we should probably pass folks directly to the playground in most cases of outbound comms (e.g., blogs, tweets, etc.) but I think inclusion on the banner absolutely makes sense for evaluating users visiting opensearch.org properties.

[2022-10-28 16:24] #1073 closed

[2022-10-28 16:24] Leigh-Ola commented on #1038
@nateynateynate I've made the changes @ #1119
Please review/merge

[2022-10-28 17:54] nateynateynate commented on #817
@iamujjwalrawat -

Well, the issue here that you've commented on is for a blog about making use of parent-child relationships. That would be the topic. If you're not familiar with the subject let's perhaps pass for now, but if you have a subject matter you're comfortable blogging about, I'm happy to help you find one that you'd be more comfortable with.

But, potential useful pieces of information

[2022-10-29 18:43] iamujjwalrawat commented on #817
@nateynateynate - I published a blog about the topic you suggested, here is the link;
https://walrusurj.medium.com/making-use-of-parent-child-relationships-75d921956d5e

Feel free to advice, Waiting for your response!

[2022-10-31 15:40] dtaivpp commented on #817
@iamujjwalrawat your blog contains large swaths of code and text that have been copied directly from Elastics website. I'm sorry but this is not acceptable.

[2022-10-31 15:56] vimalMK commented on #251
@dblock @stockholmux  Interesting proposal and I think it will add some value to use experience. If the below looks good, I can commit a PR for this issue.

![image](https://user-images.githubusercontent.com/35750792/199051973-10261ccd-ee97-46d7-83b3-58b65710c9a5.png)

[2022-10-31 16:06] dtaivpp commented on #251
@vimalMK I think a copy link button would be great! We had gotten some other feedback that is probably going to have us redesign the entire page shortly. What do you think about this? In particular do you like the linked sample sites?

https://github.com/opensearch-project/project-website/issues/862#issuecomment-1171680400

[2022-10-31 16:29] vimalMK commented on #251
@dtaivpp In my opinion , I really like keeping the user in a single page while going through Downloads. That being said keeping the redirection minimal.  Sometimes that's not always the case for example the docker and ECR in this case and I like how it is right now. But if the redesign is discussed I like [Kafka](https://kafka.apache.org/downloads) downloads page a lot!! . Its like a one stop solu

[2022-10-31 16:41] vimalMK opened #1128 "Unexpected UI behavior with 'File Signature & Signature Verification links' when selecting options to download OpenSearch/ OpenSearch Dashboards for Linux [ARM64 /Yum] ."
**Describe the bug**
Unexpected UI behavior when trying to download OpenSearch/ OpenSearch Dashboards  for Linux [ARM64 /Yum] .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Downloads page
2. Select dropdown options as OpenSearch Linux [ARM64 / Yum]
3. You will see a repeated links for 'File Signature and Signature verification how to'

**Expected behavior**
No Repeating similar Link

[2022-10-31 17:01] iamujjwalrawat commented on #817
What amendments should I make?

[2022-10-31 18:38] peterzhuamazon commented on #968
This blog is released to the public now:
* https://opensearch.org/blog/community/2022/10/Adding-New-Distributions-to-OpenSearch-Project/

Thanks.

[2022-10-31 18:38] #968 closed

[2022-10-31 19:52] nateynateynate opened #1129 "SEO Experiment for previously published article."
**Is your feature request related to a problem? Please describe.**

In response to our low SEO rankings for certain keywords, I'm going to take one of my old articles and sprinkle a keyword for which we currently have no SERP ranking on google. After publish the SERP keyword (`data ingestion`) will be monitored for a SERP appearance.

**Additional context**

A sanctioned experimental change that c

[2022-10-31 19:54] nateynateynate commented on #1129
@krisfreedain - please assign to me.

[2022-10-31 20:15] vimalMK commented on #1128
@krisfreedain Hello Kris.  Do you think its PR priority or not?

[2022-11-02 12:38] #1094 closed

[2022-11-03 18:56] aoguan1990 opened #1132 "[Blog] Launch Highlight: Multiple Authentication for OpenSearch Dashboards"
**Describe the blog post your would like to write**
Multiple authentication feature OpenSearch Dashboards 2.4 release.

**What is the title of the blog post?**
Launch Highlight: Multiple Authentication for OpenSearch Dashboards

**Who are the authors?**
- Aozixuan, Priscilla, Guan
- Kevin Garcia
- Yan, Zeng

**What is the proposed posting date?**
- By the end of Nov 2022

[2022-11-04 22:01] krisfreedain commented on #1128
@vimalMK - interesting! thanks for point it out - I hadn't noticed it. @AMoo-Miki - would you have time to confirm on this one? I believe @vimalMK would be able to help us with a fix.

[2022-11-04 22:29] vimalMK commented on #1128
Sure ! No problem.  Happy to help.

[2022-11-07 22:54] vagimeli opened #1135 "Blog Refresh: Moving from open source Elasticsearch to OpenSearch"
Describe the blog post your would like to write
This is a blog refresh to update technical information as of OpenSearch 2.4; blog link https://opensearch.org/blog/technical-posts/2021/10/moving-from-opensource-elasticsearch-to-opensearch/

What is the title of the blog post?
Moving from open source Elasticsearch to OpenSearch

Who are the authors?
Sarat Vemulapalli

What is the proposed posting da

[2022-11-08 01:54] jhmcintyre opened #1136 "OpenSearch 2.4.0 is available today!"
**Describe the blog post your would like to write**
A clear and concise description of what subject the blog post will cover.
Blog post will announce the availability of OpenSearch 2.4.0

**What is the title of the blog post?**
Tentatively "OpenSearch 2.4.0 is available today!"

**Who are the authors?**
Who will be listed as the authors of this blog post
James McIntyre and others TBC

**What is th

[2022-11-08 13:57] boriskezikov opened #1151 "Ability to load release details from somewhere"
Hi is it possible to add an ability to load data about opensearch versions with api?
Not from the running cluster but from https://opensearch.org or any other host.

like <some-host>/api/opensearch/versions - returning list of all versions
then
<some-host>/api/opensearch/version/2.3/plugins - returning list of supported plugins
<some-host>/api/opensearch/version/2.3/nodes/types - returning list of

[2022-11-09 00:00] hdhalter opened #1137 "Blog post: The thud test: Measuring OpenSearch documentation content"
**Describe the blog post your would like to write**
The point is to describe the progress the documentation team has made in creating content for OpenSearch. I want our community to know the different areas of documentation that we've touched. The concept is around an old joke about 'the bigger the thud, the more documentation you have."

**What is the title of the blog post?**
The thud test: Meas

[2022-11-09 01:24] navneet1v opened #1138 "Blog Post on Writing Aggregations in OpenSearch"
**Describe the blog post your would like to write**
I would like to write a blog post on Writing Aggregations in OpenSearch. The blog post will first build a basic understanding of the Aggregations Framework in OpenSearch. Then will use an example to explain how to code an Aggregation in OpenSearch.

**What is the title of the blog post?**
Writing Aggregations in OpenSearch

**Who are the authors?

[2022-11-10 18:26] BobWall23 opened #1145 "Add a blog post for a partner"
IronCore Labs, an OpenSearch partner, would like to add a blog post on their Cloaked Search proxy, which encrypts sensitive data stored in OpenSearch but still allows search on it.

**What is the title of the blog post?**
OpenSearch Partner Highlight: Using Cloaked Search to Protect Your Data

**Who are the authors?**
Patrick Walsh

**What is the proposed posting date?**
Nov 11, 2022

[2022-11-11 20:04] peternied opened #1148 "[Blog Post] Introducing Identity for OpenSearch"
**Describe the blog post your would like to write**
Introduce the OpenSearch community to Identity features in the development

**What is the title of the blog post?**
Introducing Identity for OpenSearch

**Who are the authors?**
@peternied

**What is the proposed posting date?**
* Early December

[2022-11-14 17:49] pajuric commented on #1145
Hi Bob - We have reviewed the draft and approved it to publish with some very minor edits. If you have a chance to make the edits today, we can get it published ASAP.

[2022-11-15 18:53] krisfreedain commented on #1145
Thanks for this @BobWall23 - closing the issue out with https://github.com/opensearch-project/project-website/pull/1146

blog is published: https://opensearch.org/blog/partners/2022/11/OpenSearch-Partner-Highlight-Using-Cloaked-Search/

[2022-11-15 18:53] #1145 closed

[2022-11-15 18:54] krisfreedain commented on #1137
thanks @hdhalter - closing this issue out with https://github.com/opensearch-project/project-website/pull/1150
blog published: https://opensearch.org/blog/feature/2022/11/thudtest/

[2022-11-15 18:54] #1137 closed

[2022-11-15 18:56] krisfreedain commented on #1108
@dtaivpp - can you take a look on this?

[2022-11-15 19:02] krisfreedain commented on #113
![Screen Shot 2022-11-15 at 11 02 26 AM](https://user-images.githubusercontent.com/4873623/202003726-4849af3e-9526-4957-b35e-10d94792f593.png)
Not sure when, but this was completed.

[2022-11-15 19:02] #113 closed

[2022-11-15 23:47] krisfreedain commented on #1136
https://github.com/opensearch-project/project-website/pull/1159

[2022-11-15 23:47] #1136 closed

[2022-11-16 19:12] krisfreedain commented on #1054
thanks @ariamarble - closing this one out

[2022-11-16 19:12] #1054 closed

[2022-11-16 19:34] krisfreedain opened #1162 "[Website update] Page titles"
**Is your feature request related to a problem? Please describe.**
Page titles are what Google serves as clickable links in search results. We need to define a site URL taxonomy, refactor all of the page titles on the site to be consistent across the user experience, modify the page titles and site structure so that we achieve consistency, and republish.

[2022-11-16 19:38] krisfreedain opened #1163 "[Website update] Normalize website tags (& categories used on blogs)"
**Is your feature request related to a problem? Please describe.**
fix the duplicative tags people have used since launch as it was a free-text field
- reout of current web/blog tags
- figure out what the right list is
- introduce procedure / list
- Jekyll check against list/ensure only allowed tags come through in PR submit

[2022-11-16 19:40] krisfreedain opened #1164 "[Website update] Tags / categories"
**Is your feature request related to a problem? Please describe.**
Build a cohesive tag/category structure that would encapsulate naming across the project's different properties.

strategic - forums, website, github - can we use the same/similar for each? (GitHub example: 'good first issue' 'bug ?' etc)
- Evaluate GitHub - main tags
- Build list
- Evaluate forum tags
- Propose list
- continue

[2022-11-16 19:45] krisfreedain opened #1165 "[Website update] Metrics addition to site"
**Is your feature request related to a problem? Please describe.**
In September at OpenSearchCon, we shared a number of impressive metrics around the project. We need to highlight these publicly on the website.
- Evaluate proper placement; idea - near top of right-hand side bar
- Evaluate responsibility and cadence for updating (once a month? once a quarter?)
- *GET LEGAL APPROVAL FIRST*

[2022-11-16 19:48] krisfreedain opened #1166 "[Website update] Hero banner carousel"
**Describe the solution you'd like**
Place at the top of the front page to allow a rotating carousel of linked images (or text), highlighting blog posts, upcoming events, news, etc.

Enable the project to draw attention to new and interesting content pieces when the community visits the site

[2022-11-16 19:49] krisfreedain commented on #1165
duplicate of https://github.com/opensearch-project/project-website/issues/1115

[2022-11-16 19:49] #1165 closed

[2022-11-16 19:52] krisfreedain opened #1167 "[Website update] Partner/External blog highlight feed"
**Is your feature request related to a problem? Please describe.**
We do not currently have a good way to highlight interesting OpenSearch-related content on the site.

**Describe the solution you'd like**
If external content is published, there is no way for us to highlight and link to it in a meaningful way.

May want to highlight different types on different pages
Ex: Media, News articles on th

[2022-11-16 19:55] krisfreedain opened #1168 "[Website update] Product feature area(s)"
**Describe the solution you'd like**
We’d like to develop a template for our top-level product/solution pages using the good work from the partner pages (https://github.com/opensearch-project/project-website/pull/1403) as a starting point. These pages will cover key use cases (starting with search, analytics, observability) at a high level, with content that

* Presents the overall capabilities of

[2022-11-16 21:16] krisfreedain opened #1169 "[Website update] Social sharing previews - blogs, individual pages, community members"
### Is your feature request related to a problem? Please describe.

Every time a page on our site is shared on twitter, the preview appears with the same description and image (the OpenSearch logo). We should be able to specify more of the presentational details on an as-needed basis.

There should also be default images for blog posts that don't have a featured image based on the category front m

[2022-11-16 21:18] krisfreedain opened #1170 "[Website update] Where to find help/information"
**Is your feature request related to a problem? Please describe.**
We could do a better job at describing how and where to find information across the different OpenSearch Project properties.

**Describe the solution you'd like**
This should be a succinct but descriptive ‘map’ of where to find content and guidelines or best practices for what to post where.

[2022-11-16 21:19] krisfreedain commented on #1170
So far we have made progress:
- post on forum
- guildline on website
- post on GitHub (?)
- 'Getting Help' https://forum.opensearch.org/t/getting-help-in-the-forum/11212

[2022-11-16 21:23] krisfreedain opened #1171 "[Website update] Partners page enhancement(s)"
**Is your feature request related to a problem? Please describe.**
The current partners page is limited in it's functionality, providing only a link to each partner's homepage. https://opensearch.org/partners

**Describe the solution you'd like**
Enhancements to the partner page needed. Expand information about each partner, what their area of expertise is, type of partner, links to site/social/bl

[2022-11-17 09:52] boriskezikov commented on #1151
@dblock maybe its a good idea, to get json manifest for each version. You want me to build it?

[2022-11-17 22:17] mnkugler opened #1176 "AWS SigV4 support for clients"
**Describe the blog post your would like to write**
A clear and concise description of what subject the blog post will cover.

This blog will cover the AWS SigV4 support for the following clients: JavaScript, Java, Python, Ruby, Go, PHP, Rust, .Net.

**What is the title of the blog post?**
Introducing the AWS SigV4 support for clients

**Who are the authors?**
Who will be listed as the authors of

[2022-11-17 22:52] krisfreedain opened #1177 "[Website update] Community page"
**Is your feature request related to a problem? Please describe.**
the website currently lacks a central place to display all things happening across the OpenSearch community.

**Describe the solution you'd like**
Community page to highlight different activities across the OpenSearch community. Highlights include

- Events page
- OpenSearchCon page
- Where we’ll be - external cons we’re attending

[2022-11-17 22:55] krisfreedain opened #1178 "[Website update] Download page evaluation"
**Is your feature request related to a problem? Please describe.**
Determine if the current download page is adequate.

Community ask: If you have input, please let us know. Examples of download pages you find useful?

**Describe the solution you'd like**
Evaluate potential enhancement to artifacts page - version selection to allow for simple list of files based on feedback @dtaivpp  has received

[2022-11-17 22:57] krisfreedain opened #1179 "[Website update] “Add to calendar" functionality"
**Is your feature request related to a problem? Please describe.**
Currently, to add an event to your calendar, a community member needs to navigate to our Meetup page, RSVP, and download that ics file.

**Describe the solution you'd like**
Enhancement to the Events page - may benefit from additional attendance if we enabled the community an easy way to add upcoming events to their calendars.

[2022-11-17 23:25] krisfreedain opened #1180 "[Website update] Events page - expand to handle different types"
**Is your feature request related to a problem? Please describe.**
Originally, the OpenSearch Project events page only had listings for our community meetings. We have expanded past that now and need to build a better solution.

**Describe the solution you'd like**
We now have a number of different types of events we need to promote:
- Community Meetings
- Conferences we're speaking or have a boot

[2022-11-17 23:27] krisfreedain opened #1181 "[Website update] 404 Page"
**Is your feature request related to a problem? Please describe.**
the site does not currently have a functional 404 page

**Describe the solution you'd like**
Normal 404 functionality so we can see what/how the community ends up on a missing page and resolve them. @nateynateynate has ideas

[2022-11-17 23:30] krisfreedain opened #1182 "[Website update] Make our RSS feed more obvious"
**Is your feature request related to a problem? Please describe.**
While the community can pick up an RSS feed from [https://opensearch.org/feed.xml](view-source:https://opensearch.org/feed.xml) - we need to make this easier to find

**Describe the solution you'd like**
Add icon/link for the blog RSS feed for our community

[2022-11-17 23:41] krisfreedain commented on #1115
Meeting notes:
2022-1105 - @jhmcintyre has a working doc completed. Team need to evaluate.
2022-1028 - @jhmcintyre  will get a draft of what the metrics are, what the cadence for collecting is, and a proposed timeframe for us to update/repub. Then @nateynateynate will use it to
2022-1025 - Nate Boot will build template for this (top of right side bar) -- @jcgraybill will work on compiling this and

[2022-11-17 23:43] krisfreedain commented on #1166
meeting notes:

2022-1104 - Hannah - has the examples - will work with Patti to get to templates for blog posts, release anncmnt, events/comm meetings.
2022-1025 - @nateynateynate - will start on code. [Hannah Uselman](https://quip-amazon.com/RaY9EADH8wm) will create a few examples. (Image / Hero banner @krisfreedain used before is based on [OpenSearchCon image in this post](https://opensearch.org

[2022-11-18 00:18] krisfreedain commented on #1167
2022-11-4 - RSS Feed SOP ;Question to answer: who will maintain the feed? -- @dtaivpp  has ideas on how this can be pulled into a PR and we pick through before it's pushed live - will add to SOP doc
2022-1028 - Hannah Uselman working on picking some RSS feed generators out. Will meet with @krisfreedain on these.
2022-1025 - Hannah Uselman will work on building out what this feed includes (help fro

[2022-11-18 00:21] krisfreedain commented on #1168
@jhmcintyre working on a document as well as the appropriate approvals.

[2022-11-18 00:33] krisfreedain commented on #1169
11/4 Hannah has a mock up cards for general use. - will need to build this in a comment here on GH.
Hannah finished GitHub training. Will begin the "self serve" process of creating a account. - @nateynateynate  will pick thru this and begin coding this in the blog template.

2022-1025 - this may require a 'featured image' for every blog post. Need to research that Jekyll can handle / have option f

[2022-11-18 00:34] krisfreedain commented on #1170
2022-1104 - Evaluate .github area under main repo - should we add something to one of those files w/ links?
2022-1025 - Nate published a great blog post. Kris has a forum post live. Next steps - links

[2022-11-18 00:36] krisfreedain commented on #1178
Related issue: https://github.com/opensearch-project/project-website/issues/251

[2022-11-18 00:37] krisfreedain commented on #1180
2022-1104 - May have found another solution - this is possible as a plugin for the forum: https://meta.discourse.org/t/events-plugin/69776
as well as a different, but related plugin to build a calendar:
https://www.discourse.org/plugins/calendar.html

[2022-11-18 00:39] krisfreedain opened #1183 "[Website update] URL Structure"
**Is your feature request related to a problem? Please describe.**
The site has grown as-needed over the last year, but we need to re-evaluate overall taxonomy.

Daryll has built an overview doc - need to get that posted out here for discourse.

[2022-11-18 16:43] krisfreedain commented on #1180
- Open Source (general)

[2022-11-18 16:47] krisfreedain commented on #1180
Build 'GH Issue' intake form

[2022-11-18 19:23] krisfreedain commented on #1129
[TRIAGE] @nateynateynate  - still working on this. Please update with notes/date when you can

[2022-11-18 19:26] krisfreedain commented on #1115
@jhmcintyre presented doc - we owe him a response by EOD 11/21 and we can move forward.

[2022-11-18 19:34] krisfreedain commented on #1166
@jhmcintyre , Patti , Hannah - working on final decisions on content wishlist with a vendor to develop templates. Meeting set for next week.

[2022-11-18 19:43] krisfreedain commented on #1183
Talked through Daryll's doc - feedback due from the team.

[2022-11-18 19:45] krisfreedain commented on #1167
@dtaivpp & @nateynateynate working on solution for this

[2022-11-18 19:50] dimwetoth opened #1187 "Add "featured article" functionality to the platform"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to mark a blog post as featured, and have it show up at the top of the blog list with the following elements:

- A featured image
- Prominent placement at the top of the blog home page
- The entirety of the blog post body copy

**Describe the solution you'd like**

- Only one blog should be featured at a time (s

[2022-11-18 20:54] dtaivpp opened #1188 "Migration and Upgrade Content Roadmap"
**Is your feature request related to a problem? Please describe.**
We should have a central page that discusses common patterns and paths for migrating workloads into OpenSearch and likewise paths for upgrading major versions.

**Describe the solution you'd like**
This should be a pick your own path journey depending on the type of workload they are using.

**Describe alternatives you've considere

[2022-11-20 22:04] krisfreedain commented on #1187
nice enhancement idea @dimwetoth - added to the Website Update Project

[2022-11-21 17:05] krisfreedain commented on #1188
thanks for opening this @dtaivpp

[2022-11-22 22:42] nateynateynate opened #1196 "Feedback Survey Link"
**Is your feature request related to a problem? Please describe.**

We're hoping to collect some information from our users to improve the OpenSearch Project. Let's add a paragraph and a link to the top of the 'What's New' section on the far right column.

**Describe the solution you'd like**

Just an entry in the feed list like the rest of them with perhaps some coloring to make it stand out. A s

[2022-11-25 22:41] krisfreedain commented on #1196
Closed with https://github.com/opensearch-project/project-website/pull/1201 - thanks again @nateynateynate

[2022-11-25 22:41] #1196 closed

[2022-11-28 22:31] krisfreedain commented on #1167
Idea - this could be added to the /blog page in the unused area on the right-hand column

![Image](https://user-images.githubusercontent.com/4873623/204394704-ae0fd240-f6c5-4689-b294-19bae1c626e7.png)

[2022-11-28 22:48] krisfreedain opened #1207 "[Website update] Add Mastodon to author profile options"
With the popularity of open source networks based on the Mastodon software growing, more and more of the community have created profiles on one of those instances.

**Describe the solution you'd like**
We currently offer the ability for blog authors to link to their Twitter, GitHub, and LinkedIn profiles. We should add the option to link to their Mastodon profile as well.

[2022-11-29 17:41] krisfreedain opened #1208 "[Website update] Common top-navigation and footer"
**Is your feature request related to a problem? Please describe.**
Currently, the project-website repo & documentation-website repo contain duplicates of the top navigation menu, as well as the footer. This becomes a problem every time we update the menu on the project-website as duplicative work needs to happen on the documentation-website

This is also an issue where our forum (https://forum.ope

[2022-11-29 17:59] hdhalter commented on #1208
Thanks, Kris! We desperately need this. @KrooshalUX - is this on your radar to design?

[2022-11-29 22:04] krisfreedain commented on #1188
This page could also work as a link to useful content across the OpenSearch community. I know a few of our partners have written very useful pieces and we should link to them from the migration page.

[2022-11-30 18:46] kgcreative commented on #1208
@AMoo-Miki - Miki, is this technically feasible given our current stack today? Or is this something we'll need to continue to do provisionally across the different web properties?

[2022-11-30 19:08] KrooshalUX commented on #1208
@hdhalter yes, the shared nav UI was identified as a starting point in the discovery meeting for the content component library. @krisfreedain -  Lets do a follow up next week to discuss timing and prioritization, I'll include Carlos (unable to tag in GH for some reason)